@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  @apply bg-canvas-2 text-canvas-2 dark:bg-canvas-2-dark dark:text-canvas-2-dark;
}

* {
  box-sizing: border-box;
}

.playground-editor .cm-scroller {
  padding-top: 8px !important;
}

