@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

html { font-family: Inter, sans-serif; }

body {
  @apply bg-canvas-2 text-canvas-2 dark:bg-canvas-2-dark dark:text-canvas-2-dark;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance:none) {
    *:focus-visible,
    *[data-focus-visible] {
      outline-style: auto !important;
    }
  }
}
