:root {
  --dark: ;
  --light: initial;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: ;
    --dark: initial;
  }
}

.dark {
  --light: ;
  --dark: initial;
}

.light {
  --dark: ;
  --light: initial;
}