body {
  --dark: initial;
  --light: ;
}

@media (prefers-color-scheme: light) {
  body {
    --dark: ;
    --light: initial;
  }
}

.dark-mode {
  --dark: initial;
  --light: ;
}

.light-mode {
  --dark: ;
  --light: initial;
}