:root { 
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 48px;
  --space-6: 64px;
  --space-7: 96px;

  --radius-1: 4px;
  --radius-2: 6px;
  --radius-3: 8px;

  --color-text-dark: hsl(204, 3%, 97%);
  --color-text-light: hsl(204, 10%, 10%);
}

body,
.dark-mode,
.light-mode {
  --color-text:             var(--dark, var(--color-text-dark))     var(--light, var(--color-text-light));
  --color-text-soft:        var(--dark, hsl(204, 3%, 80%))        var(--light, hsl(204, 10%, 30%));
  --color-link:             var(--dark, hsl(204, 100%, 56%))      var(--light, hsl(204, 100%, 36%));
  --color-shadow:           var(--dark, rgba(0, 0, 0, 30%))       var(--light, rgba(0, 0, 0, 15%));

  /** color-bg **/
  --color-bg-1:             var(--dark, hsl(204, 3%, 12%))        var(--light, hsl(204, 20%, 94%));
  --color-bg-1-hover:       var(--dark, hsl(204, 3%, 10%))        var(--light, hsl(204, 20%, 91%));
  --color-bg-1-border:      var(--dark, hsl(204, 3%, 24%))        var(--light, hsl(204, 20%, 82%));
  --color-bg-1-text:        var(--color-text);

  --color-bg-2:             var(--dark, hsl(204, 3%, 16%))        var(--light, hsl(204, 20%, 97%));
  --color-bg-2-hover:       var(--dark, hsl(204, 3%, 14%))        var(--light, hsl(204, 20%, 94%));
  --color-bg-2-border:      var(--dark, hsl(204, 3%, 28%))        var(--light, hsl(204, 20%, 85%));
  --color-bg-2-text:        var(--color-text);

  --color-bg-3:             var(--dark, hsl(204, 3%, 18%))        var(--light, hsl(204, 20%, 99%));
  --color-bg-3-hover:       var(--dark, hsl(204, 3%, 16%))        var(--light, hsl(204, 20%, 95%));
  --color-bg-3-border:      var(--dark, hsl(204, 3%, 30%))        var(--light, hsl(204, 20%, 87%));
  --color-bg-3-text:        var(--color-text);

  --color-bg-4:             var(--dark, hsl(204, 3%, 20%))        var(--light, hsl(204, 20%, 100%));
  --color-bg-4-hover:       var(--dark, hsl(204, 3%, 18%))        var(--light, hsl(204, 20%, 96%));
  --color-bg-4-border:      var(--dark, hsl(204, 3%, 32%))        var(--light, hsl(204, 20%, 88%));
  --color-bg-4-text:        var(--color-text);

  /** color-alpha **/ 
  --color-alpha-1:          var(--dark, hsla(204, 5%, 8%, 50%))   var(--light, hsla(204, 10%, 89%, 50%));
  --color-alpha-1-hover:    var(--dark, hsla(204, 5%, 4%, 50%))   var(--light, hsla(204, 10%, 83%, 50%));
  --color-alpha-1-border:   var(--dark, hsla(204, 5%, 45%, 50%))  var(--light, hsla(204, 10%, 72%, 50%));
  --color-alpha-1-text:     var(--color-text);

  --color-alpha-2:          var(--dark, hsla(204, 5%, 8%, 0%))    var(--light, hsla(204, 10%, 100%, 0%));
  --color-alpha-2-hover:    var(--dark, hsla(204, 5%, 24%, 50%))  var(--light, hsla(204, 10%, 87%, 50%));
  --color-alpha-2-border:   var(--dark, hsl(204, 5%, 100%))       var(--light, hsl(204, 10%, 0%));
  --color-alpha-2-text:     var(--color-text);

  --color-alpha-3:          var(--dark, hsla(204, 5%, 24%, 50%))  var(--light, hsla(204, 10%, 100%, 75%));
  --color-alpha-3-hover:    var(--dark, hsla(204, 5%, 32%, 50%))  var(--light, hsla(204, 10%, 89%, 75%));
  --color-alpha-3-border:   var(--dark, hsla(204, 5%, 70%, 50%))  var(--light, hsla(204, 10%, 85%, 75%));
  --color-alpha-3-text:     var(--color-text);

  /** color-primary **/ 
  --color-primary-1:        var(--dark, hsl(204, 25%, 23%))       var(--light, hsl(204, 100%, 90%));
  --color-primary-1-hover:  var(--dark, hsl(204, 25%, 27%))       var(--light, hsl(204, 100%, 86%));
  --color-primary-1-border: var(--dark, hsl(204, 25%, 36%))       var(--light, hsl(204, 100%, 72%));
  --color-primary-1-text:   var(--dark, hsl(204, 100%, 80%))      var(--light, hsl(204, 100%, 30%));

  --color-primary-2:        var(--dark, hsl(204, 100%, 40%))      var(--light, hsl(204, 100%, 40%));
  --color-primary-2-hover:  var(--dark, hsl(204, 100%, 32%))      var(--light, hsl(204, 100%, 32%));
  --color-primary-2-border: var(--dark, hsl(204, 100%, 80%))      var(--light, hsl(204, 100%, 30%));
  --color-primary-2-text:   var(--color-text-dark);

  /** color-danger **/
  --color-danger-1:         var(--dark, hsl(357, 25%, 25%))       var(--light, hsl(357, 56%, 90%));
  --color-danger-1-hover:   var(--dark, hsl(357, 25%, 29%))       var(--light, hsl(357, 56%, 86%));
  --color-danger-1-border:  var(--dark, hsl(357, 25%, 38%))       var(--light, hsl(357, 56%, 72%));
  --color-danger-1-text:    var(--dark, hsl(357, 100%, 90%))      var(--light, hsl(357, 100%, 30%));

  --color-danger-2:         var(--dark, hsl(357, 56%, 50%))       var(--light, hsl(357, 56%, 50%));
  --color-danger-2-hover:   var(--dark, hsl(357, 56%, 42%))       var(--light, hsl(357, 56%, 42%));
  --color-danger-2-border:  var(--dark, hsl(357, 56%, 80%))       var(--light, hsl(357, 56%, 30%));
  --color-danger-2-text:    var(--dark, var(--color-text-dark))     var(--light, hsl(357, 3%, 97%));

  /** color-warn **/
  --color-warn-1:           var(--dark, hsl(43, 25%, 23%))        var(--light, hsl(43, 91%, 86%));
  --color-warn-1-hover:     var(--dark, hsl(43, 25%, 27%))        var(--light, hsl(43, 91%, 81%));
  --color-warn-1-border:    var(--dark, hsl(43, 25%, 36%))        var(--light, hsl(43, 91%, 55%));
  --color-warn-1-text:      var(--dark, hsl(43, 100%, 90%))       var(--light, hsl(43, 100%, 20%));

  --color-warn-2:           var(--dark, hsl(43, 75%, 50%))        var(--light, hsl(43, 91%, 62%));
  --color-warn-2-hover:     var(--dark, hsl(43, 75%, 60%))        var(--light, hsl(43, 91%, 54%));
  --color-warn-2-border:    var(--dark, hsl(43, 91%, 90%))        var(--light, hsl(43, 91%, 42%));
  --color-warn-2-text:      var(--dark, hsl(43, 10%, 10%))        var(--light, var(--color-text-light));
}
