@import url("../style.css");

@layer theme {
  .button-default {
    @apply
      [--text:theme(colors.black)]
      dark:[--text:theme(colors.white)]

      [--background:theme(colors.white)]
      dark:[--background:theme(colors.white/5%)]

      [--border:theme(colors.black/13%)]
      [--light:theme(colors.white/20%)]
      [--shadow:theme(colors.black/10%)]

      dark:[--border:theme(colors.white/10%)]
      dark:[--light:theme(colors.white/5%)]
      dark:[--shadow:theme(colors.black/25%)]

      hover:[&:not(:active)]:[--border:theme(colors.black/33%)]
      hover:[&:not(:active)]:dark:[--border:theme(colors.white/25%)]
  }

  .button-primary {
    @apply
      [--outline-offset:2px]

      [--text:theme(colors.white)]

      [--background:theme(colors.blue.600)]
      dark:[--background:theme(colors.blue.700)]
      hover:[--background:theme(colors.blue.700)]
      hover:[&:not(:active)]:dark:[--background:theme(colors.blue.600)]


      [--border:theme(colors.black/15%)]
      [--light:theme(colors.white/25%)]
      [--shadow:theme(colors.black/15%)]

      dark:[--border:theme(colors.white/10%)]
      dark:[--light:theme(colors.white/30%)]
      dark:[--shadow:theme(colors.black/25%)]

      hover:[&:not(:active)]:[--border:theme(colors.black/60%)]
      hover:[&:not(:active)]:dark:[--border:theme(colors.white/40%)]
  }

  .button-danger {
    @apply
      [--outline-offset:2px]

      [--text:theme(colors.white)]

      [--background:theme(colors.red.600)]
      dark:[--background:theme(colors.red.700)]
      hover:[--background:theme(colors.red.700)]
      hover:[&:not(:active)]:dark:[--background:theme(colors.red.600)]


      [--border:theme(colors.black/15%)]
      [--light:theme(colors.white/25%)]
      [--shadow:theme(colors.black/15%)]

      dark:[--border:theme(colors.white/10%)]
      dark:[--light:theme(colors.white/30%)]
      dark:[--shadow:theme(colors.black/25%)]

      hover:[&:not(:active)]:[--border:theme(colors.black/60%)]
      hover:[&:not(:active)]:dark:[--border:theme(colors.white/40%)]
  }

  .button-secondary {
    @apply
      [--text:theme(colors.current)]
      [--background:theme(colors.transparent)]

      hover:[--background:theme(colors.black/5%)]
      dark:hover:[--background:theme(colors.white/5%)]

      [--border:theme(colors.black/13%)]
      [--light:theme(colors.white/20%)]
      [--shadow:theme(colors.black/10%)]

      dark:[--border:theme(colors.white/10%)]
      dark:[--light:theme(colors.white/5%)]
      dark:[--shadow:theme(colors.black/25%)]

      hover:[&:not(:active)]:[--border:theme(colors.black/33%)]
      hover:[&:not(:active)]:dark:[--border:theme(colors.white/25%)]
  }

  .button-flat {
    @apply
      [--border:none]
      [--light:none]
      [--shadow:none]
      dark:[--border:none]
      dark:[--light:none]
      dark:[--shadow:none]
  }
}

.button {
  @apply
    flex
    h-10
    items-center
    justify-center
    rounded-lg
    border-none
    px-4
    gap-2
    text-base
    no-underline
    bg-[--background]
    text-[--text]
    [box-shadow:inset_0_0_0_1px_var(--border),inset_0_2px_0_var(--light),inset_0_-1px_0_var(--shadow),0_1px_1px_var(--shadow)]
    dark:[box-shadow:inset_0_0_0_1px_var(--border),inset_0_-1px_0_1px_var(--shadow),inset_0_1px_0_var(--light)]
    active:[box-shadow:inset_0_0_0_1px_var(--border),inset_0_2px_0_var(--border)]
    dark:active:[box-shadow:inset_0_0_0_1px_var(--border),inset_0_1px_1px_1px_var(--shadow)]
}
