.button {
  @apply
    flex
    h-10
    items-center
    justify-center
    gap-1
    rounded-lg
    border-none
    px-4
    text-base
    no-underline
    whitespace-nowrap
    focus-visible:ariakit-outline
    aria-disabled:opacity-50
    sm:gap-2
    bg-blue-600
    text-white
    hover:bg-blue-800
  ;
}

.secondary {
  @apply
    text-current
    bg-transparent
    dark:bg-transparent
    hover:bg-black/5
    dark:hover:bg-white/5
  ;
}
