@import "../playground/style.css";

.tab-list {
  @apply
    flex
    w-full
    border-b
    border-canvas-3
    dark:border-canvas-4-dark;
}

.tab {
  @apply
    mb-[-1px]
    border-b
    border-[transparent]
    py-2
    px-4
    aria-selected:border-primary-2
    dark:aria-selected:border-primary-2-dark;
}
