@import "../../../button/__examples__/button/style.css";

.button {
  @apply
    absolute
    top-4
    right-4
    rounded-full
    font-semibold
  ;
}

.anchor {
  @apply
    underline
    font-medium
    hover:decoration-[3px]
    underline-offset-[0.25em]
    [text-decoration-skip-ink:none]
    text-link
    dark:text-link-dark
  ;
}

.hovercard {
  @apply
    relative
    z-50
    flex
    w-[300px]
    flex-col
    gap-2
    rounded-lg
    p-4
    shadow-lg
    focus-visible:ariakit-outline
    border
    border-solid
    border-canvas-4
    bg-canvas-4
    text-canvas-4
    dark:border-canvas-4-dark
    dark:bg-canvas-4-dark
    dark:text-canvas-4-dark
    dark:shadow-lg-dark
  ;
}

.avatar {
  @apply
    w-16
    rounded-full
  ;
}

.username {
  @apply
    text-lg
    font-semibold
  ;
}
