@import "../../../button/__examples__/button/style.css";

.button {
  @apply
    absolute
    top-4
    right-4
    rounded-full
    font-semibold
  ;
}

.anchor {
  @apply
    underline
    font-medium
    hover:decoration-[3px]
    underline-offset-[0.25em]
    [text-decoration-skip-ink:none]
    text-blue-700
    dark:text-blue-400
  ;
}

.hovercard {
  @apply
    relative
    z-50
    flex
    w-[300px]
    flex-col
    gap-2
    rounded-lg
    p-4
    shadow-lg
    focus-visible:ariakit-outline
    border
    border-solid
    border-gray-250
    dark:border-gray-600
    bg-white
    text-black
    dark:bg-gray-700
    dark:text-white
    dark:shadow-lg-dark
  ;
}

.avatar {
  @apply
    w-16
    rounded-full
  ;
}

.username {
  @apply
    text-lg
    font-semibold
  ;
}
