[role="tree"] {
  @apply
    flex
    flex-col
    rounded-lg
    border
    p-4
    text-black
    dark:text-white
    border-canvas-1
    bg-white
    dark:border-canvas-1-dark
    dark:bg-black;
}

[role="treeitem"] {
  @apply
    px-2;
}

[role="treeitem"][data-focus-visible] {
  @apply
    outline-none
    bg-primary-1
    dark:bg-primary-2;
}

[role="treeitem"][aria-expanded] {
  @apply
    cursor-pointer;
}

[role="treeitem"]:not([aria-expanded]) {
  @apply
    pl-5;
}

[role="treeitem"] > svg:first-child {
  @apply
    pr-1;
}
