@import url("../../../button/__examples__/button/style.css");

.dialog {
  width: 250px;
  @apply
    absolute
    top-56
    left-0
    right-0
    mx-auto
    flex
    justify-center
    gap-2
    z-50
    p-4
    rounded-lg
    drop-shadow
    dark:drop-shadow-dark
    border
    border-solid
    border-canvas-4
    dark:border-canvas-4-dark
    bg-canvas-4
    dark:bg-canvas-4-dark
    text-canvas-4
    dark:text-canvas-4-dark
    focus-visible:ariakit-outline;
}
