@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-synthesis-weight: none;
}

body {
  @apply
    bg-gray-50
    text-black
    dark:bg-gray-800
    dark:text-white;
}

[role="button"],
button:not([type="submit"]) {
  cursor: default;
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}
