save-exact = true
auto-install-peers = true
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*testing-library*
public-hoist-pattern[]=@astrojs/*
public-hoist-pattern[]=@shikijs/*
public-hoist-pattern[]=@changesets/*
public-hoist-pattern[]=playwright
