.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  max-width: 320px;
}

.scroller {
  height: 200px;
  overflow-y: auto;
  border: 1px solid hsl(210deg 8% 70%);
}

.item {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 32px;
  padding: 0 8px;
  border: none;
  border-bottom: 1px solid hsl(210deg 8% 90%);
  background: white;
  text-align: left;
}
