@import "../menu/style.css";

.menu-bar {
  @apply
    flex
    rounded-lg
    p-0.5
    bg-white
    dark:bg-gray-700
    shadow
    dark:shadow-dark
  ;
}

.menu-bar:not(:focus-within) > .menu-item {
  @apply
    bg-transparent
    [color:inherit]
  ;
}

.menu-bar > .menu-item {
  @apply
    px-4
    h-10
    rounded-md
    hover:bg-primary-1
    dark:hover:bg-primary-2-dark/40
    active:bg-primary-2-hover
    dark:active:bg-primary-2-dark-hover
  ;
}

.menu-bar:focus-within > .menu-item {
  @apply
    active-item:bg-primary-2
    active-item:text-primary-2
    dark:active-item:bg-primary-2-dark
    dark:active-item:text-primary-2-dark
  ;
}

.menu-bar:not(:focus) .menu-item:not(:focus)[aria-expanded="true"],
.menu:not(:focus) .menu-item:not(:focus)[aria-expanded="true"] {
  @apply
    text-current
    bg-black/10
    dark:bg-white/10
  ;
}

.menu {
  max-width:
    max(
      var(--popover-available-width),
      calc(100% - calc(var(--popover-overflow-padding) * 2))
    );
  @apply
    w-max
  ;
}

.menu .menu-item .label {
  @apply
    flex-1
    pr-8
  ;
}
