.label {
  display: flex;
  width: auto;
  flex-direction: column;
  gap: 0.5rem;
  text-indent: 0.5rem;
}

.textarea {
  border-radius: 0.375rem;
  border-style: none;
  background-color: white;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  outline-width: 1px;
  outline-offset: -1px;
  outline-color: hsl(204deg 100% 40%);
  box-shadow:
    inset 0 0 0 1px rgba(0 0 0/15%),
    inset 0 2px 5px 0 rgba(0 0 0/8%);
  height: auto;
  width: 320px;
  field-sizing: contents;
}

.textarea::placeholder {
  color: rgb(0 0 0 / 60%);
}

.textarea:hover {
  background-color: hsl(204deg 20% 99%);
}

.textarea[data-active-item] {
  outline-width: 2px;
}

.textarea:where(.dark, .dark *) {
  background-color: hsl(204deg 4% 8%);
  color: white;
  box-shadow:
    inset 0 0 0 1px rgba(255 255 255/15%),
    inset 0 -1px 0 0 rgba(255 255 255/5%),
    inset 0 2px 5px 0 rgba(0 0 0/15%);
}

.textarea:where(.dark, .dark *)::placeholder {
  color: rgb(255 255 255 / 46%);
}

.textarea:hover:where(.dark, .dark *) {
  background-color: hsl(204deg 4% 6%);
}
