.button {
  background: var(--color-primary-2);
  color: var(--color-primary-2-text);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  font-size: 1em;
  border: 0;
  padding: 0 var(--space-4);
  /* height: 2.5em; */
  border-radius: var(--radius-lg);
}

.button:hover {
  background: var(--color-primary-2-hover);
}

.button[data-focus-visible] {
  outline: 2px solid var(--color-primary-2);
  outline-offset: 2px;
}

.button[disabled],
.button[aria-disabled="true"] {
  opacity: 0.5;
}
