.button {
  @apply
    flex
    items-center
    justify-center
    gap-2
    text-base
    cursor-pointer
    border-none
    rounded-lg
    px-4
    h-10
    bg-primary-2
    text-primary-2
    hover:bg-primary-2-hover
    dark:bg-primary-2-dark
    dark:text-primary-2-dark
    dark:hover:bg-primary-2-dark-hover
    focus-visible:ariakit-outline
    aria-disabled:opacity-50;
}
