.button {
  @apply
    flex
    h-10
    cursor-pointer
    items-center
    justify-center
    gap-1
    rounded-lg
    border-none
    px-4
    text-base
    whitespace-nowrap
    focus-visible:ariakit-outline
    aria-disabled:opacity-50
    bg-primary-2
    text-primary-2
    hover:bg-primary-2-hover
    dark:bg-primary-2-dark
    dark:text-primary-2-dark
    dark:hover:bg-primary-2-dark-hover;
}

.secondary {
  @apply
    text-current
    bg-transparent
    dark:bg-transparent
    hover:bg-black/5
    dark:hover:bg-white/5;
}
