@import "../select/style.css";

.popover {
  @apply pt-0;
}

.combobox-wrapper {
  @apply sticky bg-[color:inherit] top-0 pt-2 mb-2 w-fit;
}

.combobox {
  @apply
    h-10
    rounded
    border-none
    px-4
    w-full
    text-base
    bg-canvas-1
    text-canvas-1
    hover:bg-canvas-1-hover
    dark:bg-canvas-1-dark
    dark:text-canvas-1-dark
    dark:hover:bg-canvas-1-dark-hover
    focus-visible:ariakit-outline-input;
}

.select-item {
  @apply scroll-mt-14;
}
