@import url("../select/style.css");

.popover {
  @apply
    max-h-72
    pt-0
    overflow-auto;
}

.combobox-wrapper {
  background-color: inherit;
  @apply
    sticky
    top-0
    py-2
    w-fit;
}

.combobox {
  @apply
    h-10
    rounded
    border-none
    px-4
    w-full
    text-base
    bg-canvas-1
    text-canvas-1
    hover:bg-canvas-1-hover
    dark:bg-canvas-1-dark
    dark:text-canvas-1-dark
    dark:hover:bg-canvas-1-dark-hover;
}

.combobox:focus {
  outline: 2px solid theme("colors.primary-2.DEFAULT");
  outline-offset: 0;
}

.select-item {
  @apply scroll-mt-14;
}
