@import url("examples/dialog/style.css");

.dialog {
  @apply
    max-w-[320px]
  ;
}

.form {
  @apply
    flex
    flex-col
    gap-6
    pt-4
  ;
}

.input {
  @apply
    h-10
    px-4
    text-base
    w-full
    rounded-md
    border-none
    placeholder-black/60
    dark:placeholder-white/[46%]
    text-black
    dark:text-white
    bg-gray-150/40
    dark:bg-gray-850
    hover:bg-gray-150
    dark:hover:bg-gray-900
    shadow-input
    dark:shadow-input-dark
    focus-visible:ariakit-outline-input
  ;
}
