@import url("../select/style.css");

.wrapper {
  @apply my-[400px] w-[540px];
}

.photo {
  @apply w-12 h-12 rounded-full;
}

.photo-stack {
  background-color: inherit;
  @apply flex flex-row-reverse;
}

.photo-stack .photo {
  background-color: inherit;
  padding: 2px;
}

.photo-stack .photo:not(:last-of-type) {
  @apply -ml-7;
}

.select {
  width: 320px;
  @apply justify-start h-auto gap-3 p-4;
}

.popover {
  width: 320px;
}

.value {
  @apply flex flex-col items-start flex-1;
}

.email {
  @apply opacity-80;
}

select {
  position: absolute;
  right: 180px;
  top: 460px;
}
