[role="tree"] {
  @apply
    flex
    flex-col
    rounded-lg
    border
    pl-8
    pr-4
    py-4
    text-black
    dark:text-white
    border-canvas-1
    bg-white
    dark:border-canvas-1-dark
    dark:bg-black;
}

[role="treeitem"] {
  @apply px-1;
}

[role="group"] {
  @apply
    flex
    flex-col
    pl-4;
}

[role="treeitem"][data-focus-visible] {
  @apply
    outline-none;
}

[role="treeitem"][aria-expanded] {
  @apply
    cursor-pointer;
}

[role="treeitem"]:not([aria-expanded])[data-focus-visible] {
  @apply
    rounded-sm
    text-black
    dark:text-white
    bg-primary-1
    dark:bg-primary-2;
}

[role="treeitem"][aria-expanded][data-focus-visible] {
  @apply
    outline-none;
}

[role="treeitem"][data-focus-visible] > [data-label] {
  @apply
    rounded-sm
    outline-none
    text-black
    dark:text-white
    bg-primary-1
    dark:bg-primary-2;
}

[role="treeitem"] > [data-label] {
  @apply
    flex
    items-center
    px-1
    -mx-1
    relative;
}

[role="treeitem"] > [data-label] > svg:first-child {
  @apply
    absolute
    -left-3
    w-2
    h-2;
}

[role="treeitem"][data-focus-visible] > [data-label] > svg:first-child {
  @apply
    text-black
    dark:text-white;
}

[role="treeitem"] > [data-label] > :not(svg) {
  @apply
    flex
    -ml-1
    px-1;
}
