[role="tree"] {
  @apply
    flex
    flex-col
    rounded-lg
    border
    p-4
    text-black
    dark:text-white
    border-canvas-3
    bg-canvas-3
    dark:border-canvas-3-dark
    dark:bg-canvas-3-dark;
}

[role="group"] {
  @apply
    flex
    flex-col
    pl-4;
}

[role="treeitem"][aria-expanded][data-focus-visible] {
  @apply outline-none;
}

[role="treeitem"][aria-expanded][data-focus-visible] > [data-label],
[role="treeitem"]:not([aria-expanded])[data-focus-visible] {
  @apply outline outline-2 outline-black dark:outline-white;
}

[role="treeitem"][aria-expanded] {
  @apply
    cursor-pointer;
}

[role="treeitem"]:not([aria-expanded]) {
  @apply
    pl-[12px];
}

[role="treeitem"][aria-expanded="false"]::before {
  @apply
    relative
    left-[-2px];
}

:not(.dark) [role="treeitem"][aria-expanded="false"]::before {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' style='forced-color-adjust: auto;'%3E%3Cpolygon points='1 1, 1 11, 8 6' fill='black' stroke= 'black' /%3E%3C/svg%3E%0A");
}

.dark [role="treeitem"][aria-expanded="false"]::before {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' style='forced-color-adjust: auto;'%3E%3Cpolygon points='1 1, 1 11, 8 6' fill='white' stroke= 'white' /%3E%3C/svg%3E%0A");
}

[role="treeitem"][aria-expanded="true"]::before {
  @apply
    relative
    left-[-4px]
    top-[2px]
    h-full;
}

:not(.dark) [role="treeitem"][aria-expanded="true"]::before {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' style='forced-color-adjust: auto;'%3E%3Cpolygon points='1 1, 11 1, 6 8' fill='black' stroke= 'black' /%3E%3C/svg%3E ");
}

.dark [role="treeitem"][aria-expanded="true"]::before {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' style='forced-color-adjust: auto;'%3E%3Cpolygon points='1 1, 11 1, 6 8' fill='white' stroke= 'white' /%3E%3C/svg%3E ");
}
