.wrapper {
  @apply
    w-[500px]
    max-w-full
    my-7
    rounded-lg
    bg-white
    dark:bg-gray-700
    shadow
    dark:shadow-dark
  ;
}

.button {
  @apply
    flex
    items-center
    px-4
    h-14
    w-full
    text-left
    cursor-pointer
    text-lg
    font-medium
    rounded-lg
    underline-offset-2
    hover:underline
    focus-visible:ariakit-outline-input
  ;
}

.content {
  @apply
    flex
    flex-col
    p-4
    pt-0
    gap-4
  ;
}
