.label {
  @apply flex flex-col gap-2;
}

.combobox {
  width: 250px;
  @apply
    h-10
    rounded-lg
    border-none
    px-4
    text-base
    focus-visible:ariakit-outline-input
    bg-canvas-1
    text-canvas-1
    hover:bg-canvas-1-hover
    dark:bg-canvas-1-dark
    dark:text-canvas-1-dark
    dark:hover:bg-canvas-1-dark-hover;
}

.popover {
  max-height: inherit;
  @apply
    relative
    z-50
    flex
    flex-col
    overflow-auto
    rounded-lg
    border
    border-solid
    border-canvas-4
    bg-canvas-4
    p-2
    text-canvas-4
    drop-shadow
    dark:border-canvas-4-dark
    dark:bg-canvas-4-dark
    dark:text-canvas-4-dark
    dark:drop-shadow-dark;
}

.combobox-item {
  outline: none;
  @apply
    flex
    cursor-default
    scroll-m-2
    items-center
    gap-2
    rounded
    p-2
    hover:bg-primary-1-hover
    dark:hover:bg-primary-1-dark-hover
    active-item:bg-primary-2
    active-item:text-primary-2
    active-item:dark:bg-primary-2-dark
    active-item:dark:text-primary-2-dark;
}
