.label {
  @apply flex flex-col gap-2
}

.combobox {
  width: 250px;
  @apply border-none
    px-4
    h-10
    rounded-lg
    text-base
    bg-canvas-1
    text-canvas-1
    hover:bg-canvas-1-hover
    dark:bg-canvas-1-dark
    dark:text-canvas-1-dark
    dark:hover:bg-canvas-1-dark-hover
    ariakit-focus-visible:ariakit-outline
}

.popover {
  width: 250px;
  @apply relative
    flex
    flex-col
    z-50
    p-2
    rounded-lg
    drop-shadow
    dark:drop-shadow-dark
    border
    border-solid
    border-canvas-4
    dark:border-canvas-4-dark
    bg-canvas-4
    dark:bg-canvas-4-dark
    text-canvas-4
    dark:text-canvas-4-dark
}

.popover > * {
  @apply outline-none cursor-default rounded p-2
}

.popover > *:hover {
  @apply bg-primary-1-hover dark:bg-primary-1-dark-hover
}

.popover > *[aria-selected="true"],
.popover > *:focus {
  @apply bg-primary-2
    text-primary-2
    dark:bg-primary-2-dark
    dark:text-primary-2-dark
}
