.wrapper {
  @apply
    flex
    flex-col
    p-4
    gap-2
    rounded-lg
    bg-white
    dark:bg-gray-700
    shadow
    dark:shadow-dark
  ;
}

.label {
  @apply
    flex
    flex-col
    gap-2
  ;
}

.combobox {
  @apply
    h-10
    px-4
    w-[250px]
    text-base
    rounded-md
    border-none
    placeholder-black/60
    dark:placeholder-white/[46%]
    text-black
    dark:text-white
    bg-gray-150/40
    dark:bg-gray-850
    hover:bg-gray-150
    dark:hover:bg-gray-900
    shadow-input
    dark:shadow-input-dark
    focus-visible:ariakit-outline-input
  ;
}

.popover {
  @apply
    max-h-[min(var(--popover-available-height,300px),300px)]
    relative
    flex
    flex-col
    p-2
    z-50
    overscroll-contain
    overflow-auto
    outline-none
    rounded-lg
    border
    border-solid
    border-gray-250
    dark:border-gray-600
    bg-white
    text-black
    dark:bg-gray-700
    dark:text-white
    drop-shadow-lg
    dark:drop-shadow-lg-dark
  ;
}

.combobox-item {
  @apply
    ![outline:none]
    flex
    gap-2
    p-2
    scroll-m-2
    cursor-default
    items-center
    rounded
    hover:bg-primary-1-hover
    dark:hover:bg-primary-2-dark/25
    active-item:bg-primary-2
    active-item:text-primary-2
    active-item:dark:bg-primary-2-dark
    active-item:dark:text-primary-2-dark
  ;
}
