.wrapper {
  @apply
    flex
    flex-col
    p-4
    gap-2
    rounded-lg
    bg-canvas-4
    dark:bg-canvas-4-dark
    shadow
    dark:shadow-dark;
}

.label {
  @apply flex flex-col gap-2;
}

.combobox {
  @apply
    h-10
    px-4
    w-[250px]
    text-base
    rounded-md
    border-none
    placeholder-black/60
    dark:placeholder-white/[46%]
    text-canvas-1
    dark:text-canvas-1-dark
    bg-canvas-1/40
    dark:bg-canvas-1-dark
    hover:bg-canvas-1
    dark:hover:bg-canvas-1-dark-hover
    shadow-input
    dark:shadow-input-dark
    focus-visible:ariakit-outline-input;
}

.popover {
  @apply
    max-h-[min(var(--popover-available-height,300px),300px)]
    relative
    flex
    flex-col
    p-2
    z-50
    overscroll-contain
    overflow-auto
    rounded-lg
    border
    border-solid
    border-canvas-4
    bg-canvas-4
    text-canvas-4
    dark:border-canvas-4-dark
    dark:bg-canvas-4-dark
    dark:text-canvas-4-dark
    drop-shadow
    dark:drop-shadow-dark;
}

.combobox-item {
  outline: none !important;
  @apply
    flex
    gap-2
    p-2
    scroll-m-2
    cursor-default
    items-center
    rounded
    hover:bg-primary-1-hover
    dark:hover:bg-primary-1-dark-hover
    active-item:bg-primary-2
    active-item:text-primary-2
    active-item:dark:bg-primary-2-dark
    active-item:dark:text-primary-2-dark;
}
