@import url("../menu/style.css");

.menu {
  max-height: min(var(--popover-available-height, 300px), 300px);
  @apply p-0 overflow-visible;
}

.combobox {
  @apply
    w-fit
    h-10
    rounded
    border-none
    bg-canvas-1
    px-4
    m-2
    flex-none
    text-base
    text-canvas-1
    hover:bg-canvas-1-hover
    dark:bg-canvas-1-dark
    dark:text-canvas-1-dark
    dark:hover:bg-canvas-1-dark-hover
    focus-visible:ariakit-outline-input;
}

.combobox-list {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  @apply
    p-2
    overflow-auto
    overscroll-contain
    border-t
    border-t-canvas-4
    dark:border-t-canvas-4-dark;
}
