@utility ak-aurora_hover {
  &::after {
    background-position: 100% 100%;
  }
}

@utility ak-aurora-* {
  position: relative;
  --ak-aurora-border: var(--ak-frame-border, 1px);
  --ak-aurora-color-1: --value(--color, [*]);
  --ak-aurora-color-2: --modifier(--color, [*]);

  &::after {
    @apply duration-750 absolute transition-[background-position];
    content: "";
    pointer-events: none;
    border-radius: inherit;
    inset: calc(var(--ak-aurora-border) * -1);
    padding: var(--ak-aurora-border);
    mask:
      linear-gradient(#000 0 0) content-box exclude,
      linear-gradient(#fff 0 0);
    background: linear-gradient(
      to bottom right,
      var(--ak-aurora-color-1),
      transparent,
      transparent,
      var(--ak-aurora-color-2, transparent),
      transparent,
      transparent,
      var(--ak-aurora-color-1)
    );
    background-size: 200% 200%;
  }
}
