@utility ak-container-* {
  --ak-container-max-width: --value(--container, [length]);
  --ak-container-p: 0;
  --ak-container-p: --spacing(--modifier(number));
  --ak-container-p: --modifier([length]);
}

@utility ak-container-p-* {
  --ak-container-p: --spacing(--value(number));
  --ak-container-p: --value(--spacing, [length]);
}

@utility ak-container {
  width: calc(100% - var(--ak-container-p, 0) * 2);
  max-width: var(--ak-container-max-width, auto);
  margin-inline: auto;
}
