/**
 * Copyright 2025-present Ariakit FZ-LLC. All Rights Reserved.
 *
 * This software is proprietary. See the license.md file in the root of this
 * package for licensing terms.
 *
 * SPDX-License-Identifier: UNLICENSED
 */
@import "./ariakit.css";

@theme {
  --container-wider: 92rem;
  --container-wide: 84rem;
  --container-default: 72rem;
  --container-sidebar: 22rem;

  --container-overlap: 100.05rem;

  --leading-loose: 1.85;
}

@theme inline {
  --container-content: calc(
    100% - var(--container-sidebar) - (100% - var(--container-default))
  );
}

@custom-variant base {
  @layer base {
    @slot;
  }
}

@custom-variant supports-hover {
  @media (hover: hover) {
    @slot;
  }
}

@custom-variant hocus-within {
  &:is(:hover, :focus-within),
  &:has([data-focus]) {
    @slot;
  }
}

astro-island,
astro-slot,
astro-static-slot {
  display: inherit !important;
  :is(a, p, li, span, code) & {
    display: inline !important;
  }
}

/* .cl-cardBox {
  @apply ak-layer border shadow-none;
}

.cl-organizationSwitcherTrigger {
  @apply ak-button !ak-layer-pop hover:!ak-layer-pop-2 ak-frame-field/2;
} */

html,
body {
  @apply font-sans min-h-dvh antialiased;
}

body > * {
  @apply ak-dark:scheme-dark;
}
