@import "tailwindcss";
@import "@ariakit/tailwind";

@theme {
  --color-canvas: oklch(99.33% 0.0011 197.14);
  --color-primary: oklch(56.7% 0.154556 248.5156);
  --color-secondary: oklch(65.59% 0.2118 354.31);

  --radius-container: var(--radius-xl);
  --spacing-container: --spacing(1);

  --radius-dialog: var(--radius-2xl);
  --spacing-dialog: --spacing(4);

  --radius-playground: calc(var(--radius) * 3.5);
  --spacing-playground: --spacing(0);

  --radius-field: var(--radius-lg);
  --spacing-field: --spacing(2);

  --font-sans: "Inter Variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  @variant dark {
    --color-canvas: oklch(16.52% 0.0062 285.7);
  }
}

html,
body {
  @apply font-sans min-h-screen;
}

body {
  @apply ak-layer-canvas ak-frame/4 antialiased;

  [data-iframe] & {
    @apply ak-layer-canvas-down-0.3;
  }
}

@custom-variant base {
  @layer base {
    @slot;
  }
}

/** ak-command **/

@utility ak-command_idle {
  @apply not-[a&]:cursor-default relative block select-none;
}

@utility ak-command_touch-target {
  @apply -translate-1/2 absolute left-1/2 top-1/2 size-full min-h-12 min-w-12 content-[''] [@media(pointer:fine)]:hidden;
}

@utility ak-command_active {
  @apply scale-x-98 scale-y-96 origin-bottom;
}

@utility ak-command {
  @apply ak-command_idle active:ak-command_active before:ak-command_touch-target;
}

/** ak-tooltip **/

@utility ak-tooltip {
  @apply ak-layer ak-frame-lg/1 z-10 px-2 text-sm ring shadow-md;
}

/** ak-popover **/

@utility ak-popover_idle {
  --ak-popover-ring-color: var(--ak-ring, var(--ak-layer-ring));
  transition-property: overlay, display, scale, opacity;
  @apply ak-layer ak-frame-force-dialog;
  @apply transition-discrete z-10 ring shadow-xl;
}

@utility ak-popover_open {
  @apply starting:scale-95 starting:opacity-0 duration-500;
  /* https://easingwizard.com */
  @apply ease-[linear(0,_0.008_1.1%,_0.031_2.2%,_0.129_4.8%,_0.257_7.2%,_0.671_14.2%,_0.789_16.5%,_0.881_18.6%,_0.957_20.7%,_1.019_22.9%,_1.063_25.1%,_1.094_27.4%,_1.114_30.7%,_1.112_34.5%,_1.018_49.9%,_0.99_59.1%,_1)];
}

@utility ak-popover_closed {
  @apply duration-250 scale-95 opacity-0;
}

@utility ak-popover {
  @apply ak-popover_idle;
  &:is(dialog, [popover]) {
    @apply open:ak-popover_open not-open:ak-popover_closed;
  }
}

@utility ak-popover-arrow {
  svg&,
  svg {
    @apply fill-(--ak-layer) stroke-(--ak-popover-ring-color) stroke-2;
  }
}

/** ak-input **/

@utility ak-input_idle {
  @apply ak-edge-contrast ak-frame-field ak-frame-border;
  @apply cursor-text px-3 -outline-offset-1 transition-[background-color];
  @variant ak-light {
    @apply ak-layer-canvas-10;
  }
  @variant ak-dark {
    @apply not-hover:not-focus-within:ak-layer-down;
  }
  input {
    @apply outline-none;
  }
  &::placeholder,
  ::placeholder {
    @apply ak-text/0;
  }
}

@utility ak-input_hover {
  @variant ak-light {
    @apply ak-layer-hover-[0.5];
  }
  @variant ak-dark {
    @apply ak-layer-current;
  }
}

@utility ak-input_focus {
  @apply ak-outline-primary outline-2;
  @variant ak-light {
    @apply ak-layer-canvas-10;
  }
  @variant ak-dark {
    @apply ak-layer-current;
  }
}

@utility ak-input {
  @apply ak-input_idle hover:ak-input_hover focus-within:ak-input_focus;
}

/** ak-button **/

@utility ak-button_idle {
  @apply ak-command_idle ak-outline-primary ak-frame-field;
  @apply flex items-center justify-center gap-1 whitespace-nowrap px-[calc(var(--ak-frame-padding)+--spacing(1))] font-[calc(500+50*var(--contrast))];

  &::before {
    @apply ak-command_touch-target;
  }
}

@utility ak-button_hover {
  @apply ak-layer-hover;
}

@utility ak-button_focus {
  @apply outline-2;
}

@utility ak-button_active {
  @apply ak-command_active;
}

@utility ak-button_disabled {
  @apply ak-text/50 ak-layer-mix/20;
  @apply inset-shadow-none bg-none shadow-none;
}

@utility ak-button {
  @apply ak-button_idle hover:ak-button_hover focus-visible:ak-button_focus active:not-disabled:not-aria-disabled:ak-button_active aria-disabled:ak-button_disabled disabled:ak-button_disabled;
}

@utility ak-button-square {
  @apply p-(--ak-frame-padding) aspect-square;
}

@utility ak-button-classic_idle {
  @apply ak-button_idle ak-layer;
  @apply inset-shadow-(--ak-button-inset-shadow) from-(--ak-button-bg-dark) to-(--ak-button-bg-light) bg-gradient-to-b from-50% bg-clip-padding;

  --ak-button-min-l: 0.25;
  --ak-button-max-l: 1;
  --ak-button-bg-dark-l: l - 0.02 - 0.1 * c;
  --ak-button-bg-light-l: l + 0.01;
  --ak-button-bg-dark: oklch(
    from var(--ak-layer)
      clamp(
        var(--ak-button-min-l),
        var(--ak-button-bg-dark-l),
        var(--ak-button-max-l)
      )
      c h
  );
  --ak-button-bg-light: oklch(
    from var(--ak-layer)
      clamp(
        var(--ak-button-min-l),
        var(--ak-button-bg-light-l),
        var(--ak-button-max-l)
      )
      c h
  );
  --ak-button-shadow-color: oklch(
    from var(--ak-button-bg-dark) calc(l - 0.15) c h
  );
  --ak-button-shadow: 0 -0.5px 0.5px 1px var(--ak-button-shadow-color);
  --ak-button-highlight: 0 2px 0.5px
    oklch(from var(--ak-button-bg-dark) calc(l + 0.2) calc(c / 2) h);
  --ak-button-inset-shadow: var(--ak-button-shadow),
    inset var(--ak-button-highlight);

  @variant ak-dark {
    --ak-button-min-l: 0.15;
    --ak-button-max-l: 0.85;
    --ak-button-bg-dark-l: l;
    --ak-button-highlight: 0 1.5px 0.5px
      oklch(from var(--ak-button-bg-dark) calc(l + 0.1) c h);
  }
}

@utility ak-button-classic_hover {
  @apply ak-button_hover;

  --ak-button-min-l: 0.35;
  --ak-button-max-l: 1;

  @variant ak-dark {
    --ak-button-min-l: 0.25;
    --ak-button-max-l: 0.75;
  }
}

@utility ak-button-classic_focus {
  @apply ak-button_focus outline-offset-1;
}

@utility ak-button-classic_active {
  @apply ak-button_active;
  @apply from-(--ak-button-bg-dark-active) to-(--ak-button-bg-light-active) from-60%;

  --ak-button-bg-dark-active: oklch(from var(--ak-button-bg-dark) l c h);
  --ak-button-bg-light-active: oklch(
    from var(--ak-button-bg-dark) calc(l + 0.02) c h
  );
  --ak-button-shadow: 0 1px 0.5px 1px var(--ak-button-shadow-color);
  --ak-button-highlight: 0 0 transparent;

  @variant ak-dark {
    --ak-button-bg-dark-active: oklch(
      from var(--ak-button-bg-dark) calc(l - 0.02) c h
    );
    --ak-button-bg-light-active: oklch(from var(--ak-button-bg-dark) l c h);
    --ak-button-shadow: 0 1px 0.5px var(--ak-button-shadow-color);
  }
}

@utility ak-button-classic_disabled {
  @apply ak-button_disabled;
}

@utility ak-button-classic {
  @apply ak-button-classic_idle hover:ak-button-classic_hover focus-visible:ak-button-classic_focus active:not-disabled:not-aria-disabled:ak-button-classic_active disabled:ak-button-classic_disabled;
}

/** ak-tab **/

@property --ak-tab-border-width {
  syntax: "<length>";
  inherits: true;
  initial-value: 0px;
}

@utility ak-tabs {
  --ak-tab-border-width: var(--ak-frame-border, 1px);
  --ak-tab-border-color: var(--ak-border, var(--ak-layer-border, transparent));
  --ak-tab-bg: var(--ak-layer);
}

@utility ak-tab-list {
  @apply ak-frame-overflow ak-layer-down;
  @apply -mb-(--ak-tab-border-width) -space-x-(--ak-tab-border-width) relative flex flex-none items-end overflow-x-auto overflow-y-clip !pb-0;
  scrollbar-width: none;

  &::after {
    @apply from-(--ak-layer) z-3 -end-(--ak-frame-padding) mb-(--ak-tab-border-width) pointer-events-none sticky h-full w-8 flex-none bg-gradient-to-l to-transparent bg-clip-padding content-[''];
  }

  &:dir(rtl) {
    &::after {
      @apply bg-gradient-to-r;
    }
  }
}

@utility ak-tab-panel {
  @apply ak-frame-border-(--ak-tab-border-width) ak-layer-(--ak-tab-bg) ak-frame-cover;
  @apply !border-(--ak-tab-border-color) relative;
}

@utility ak-tab_idle {
  @apply ak-command_idle ak-text/70;
  @apply z-1 relative flex items-center gap-1.5 whitespace-nowrap;

  &:not(:last-child)::after {
    @apply border-(--ak-tab-border-color) absolute -end-px h-1/2 w-px border-r content-[''];
  }
}

@utility ak-tab-folder_idle {
  @apply ak-tab_idle ak-frame-container ak-frame-border-(--ak-tab-border-width);
  @apply border-(length:--ak-tab-border-width) !border-b-0 border-transparent;
  padding-block-end: calc(
    var(--ak-tab-border-width) + var(--ak-frame-padding)
  ) !important;

  > * {
    @apply max-sm:ak-frame/2 sm:ak-frame/1 h-full;
    @apply flex items-center gap-1.5 whitespace-nowrap !px-2;
    @apply before:ak-command_touch-target;
  }
}

@utility ak-tab-folder_hover {
  &:not(:last-child)::after {
    @apply border-transparent;
  }
  :has(+ &)::after {
    @apply border-transparent;
  }
  > * {
    @apply ak-layer-hover;
  }
}

@utility ak-tab-folder_focus {
  @apply outline-none;
  &:not(:last-child)::after {
    @apply border-transparent;
  }
  :has(+ &)::after {
    @apply border-transparent;
  }
  > * {
    @apply ak-layer-contrast-primary;
  }
}

@utility ak-tab-folder_active {
  > * {
    @apply ak-command_active;
  }
}

@utility ak-tab-folder_selected {
  @apply ak-layer-(--ak-tab-bg) ak-text/100;
  @apply z-2 !border-(--ak-tab-border-color) !rounded-b-none;

  &::after,
  &::before {
    @apply pointer-events-none absolute bottom-0 border-none bg-no-repeat content-[''];

    --ak-tab-smoothness: min(0.2px, var(--ak-tab-border-width));

    --ak-tab-inner: var(--ak-frame-radius);
    --ak-tab-inner-border: calc(var(--ak-tab-inner) - var(--ak-tab-smoothness));
    --ak-tab-inner-bg: calc(var(--ak-tab-inner) + var(--ak-tab-smoothness));

    --ak-tab-outer: calc(var(--ak-tab-inner) - var(--ak-tab-border-width));
    --ak-tab-outer-border: calc(var(--ak-tab-outer) + var(--ak-tab-smoothness));
    --ak-tab-outer-bg: calc(var(--ak-tab-outer) - var(--ak-tab-smoothness));

    --ak-tab-transparent: transparent var(--ak-tab-outer-bg);
    --ak-tab-border: var(--ak-tab-border-color) var(--ak-tab-outer-border),
      var(--ak-tab-border-color) var(--ak-tab-inner-border);
    --ak-tab-bg: var(--ak-layer) var(--ak-tab-inner-bg);

    --ak-tab-gradient: var(--ak-tab-transparent), var(--ak-tab-border),
      var(--ak-tab-bg);
    --ak-tab-backdrop: transparent var(--ak-tab-outer),
      var(--ak-layer) var(--ak-tab-outer-border);

    height: var(--ak-frame-radius);
    width: var(--ak-frame-radius);
  }

  &::before {
    right: 100%;
    background-image: radial-gradient(circle at 0 0, var(--ak-tab-gradient)),
      radial-gradient(circle at 0 0, var(--ak-tab-backdrop));
  }

  &::after {
    left: 100%;
    background-position: 100%, 100%;
    background-image: radial-gradient(circle at 100% 0, var(--ak-tab-gradient)),
      radial-gradient(circle at 100% 0, var(--ak-tab-backdrop));
  }
}

@utility ak-tab-folder {
  @apply ak-tab-folder_idle hover:not-aria-selected:ak-tab-folder_hover focus-visible:ak-tab-folder_focus aria-selected:ak-tab-folder_selected active:ak-tab-folder_active;
}

/** ak-prose **/

@utility ak-prose {
  @apply ak-text/80;

  :where(h1) {
    @apply text-3xl;
  }

  :where(h2) {
    @apply text-2xl;
  }

  :where(h3) {
    @apply text-xl;
  }
}
