@import url("../checkbox/style.css");

.checkbox {
  @apply
    w-5
    h-5
    rounded
    flex
    justify-center
    items-center
    border
    bg-primary-1
    border-primary-1
    text-primary-1
    dark:bg-primary-1-dark
    dark:border-primary-1-dark
    dark:text-primary-1-dark;
}
