@import "../dialog/style.css";

[data-backdrop] {
  @apply
    transition-[opacity,backdrop-filter]
    enter:duration-200
    leave:duration-500
    [backdrop-filter:blur(0)]
    enter:[backdrop-filter:blur(4px)]
    opacity-0
    enter:opacity-100;
}

.dialog {
  @apply
    origin-center
    transition-[opacity,transform]
    enter:duration-200
    leave:duration-500
    enter:delay-200
    opacity-0
    enter:opacity-100
    [transform:scale(0.95)]
    enter:[transform:scale(1)];
}
