@import url("../../../button/__examples__/button/style.css");
@import url("../../../checkbox/__examples__/checkbox/style.css");

.wrapper {
  @apply flex gap-2 flex-col rounded-lg border border-canvas-3 dark:border-canvas-3-dark p-3 w-56;
}

.input {
  @apply p-2 rounded-lg;
}
