@import url("../menu/style.css");

.menu-bar {
  @apply
    flex
    rounded-lg
    p-0.5
    bg-white
    dark:bg-gray-700
    shadow
    dark:shadow-dark
  ;
}

.menu-bar:not(:focus-within) > .menu-item {
  @apply
    bg-transparent
    text-inherit
  ;
}

.menu-bar > .menu-item {
  @apply
    px-4
    h-10
    rounded-md
    hover:bg-blue-200/40
    dark:hover:bg-blue-600/40
  ;
}

.menu-bar:focus-within > .menu-item {
  @apply
    active-item:bg-blue-600
    active-item:text-white
  ;
}

.menu-bar:not(:focus) .menu-item:not(:focus)[aria-expanded="true"],
.menu:not(:focus) .menu-item:not(:focus)[aria-expanded="true"] {
  @apply
    text-current
    bg-black/10
    dark:bg-white/10
  ;
}

.menu {
  max-width:
    max(
      var(--popover-available-width),
      calc(100% - calc(var(--popover-overflow-padding) * 2))
    );
  @apply
    w-max
  ;
}

.menu .menu-item .label {
  @apply
    flex-1
    pr-8
  ;
}
