@import url("../../../popover/__examples__/popover/style.css");

.wrapper {
  @apply flex flex-col gap-2 my-[1000px];
}

.button {
  width: 200px;
  @apply justify-start;
}

.button > span {
  margin-left: auto;
}

.popover {
  width: 200px;
  max-height: 300px;

  /* opacity: 0;
  transform: scaleY(0);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out; */
  @apply gap-0 p-2 overflow-auto;
}

.popover[data-enter] {
  opacity: 1;
  transform: scaleY(1);
}

.popover > * {
  @apply
    flex
    gap-2
    items-center
    scroll-m-2
    outline-none
    cursor-default
    rounded
    p-2;
}

.popover > *[aria-selected="true"],
.popover > *:focus {
  @apply
    bg-primary-2
    text-primary-2
    dark:bg-primary-2-dark
    dark:text-primary-2-dark;
}
