@import url("../../../button/__examples__/button/style.css");

.menu {
  max-height: inherit;
  min-width: 180px;
  outline: none;
  @apply
    relative
    z-50
    p-2
    flex
    flex-col
    rounded-lg
    overflow-auto
    border
    border-solid
    border-canvas-4
    bg-canvas-4
    text-canvas-4
    dark:border-canvas-4-dark
    dark:bg-canvas-4-dark
    dark:text-canvas-4-dark
    drop-shadow
    dark:drop-shadow-dark;
}

.menu-item {
  outline: none;
  @apply
    flex
    cursor-default
    scroll-m-2
    items-center
    gap-2
    rounded
    p-2
    aria-disabled:opacity-25
    active:bg-primary-2-hover
    dark:active:bg-primary-2-dark-hover
    active-item:bg-primary-2
    active-item:text-primary-2
    dark:active-item:bg-primary-2-dark
    dark:active-item:text-primary-2-dark;
}

.separator {
  border-width: 1px 0 0;
  border-color: currentcolor;
  @apply my-2 h-0 opacity-25;
}
