@plugin "./plugin.js";

@theme {
  --contrast: 0;
  --spacing: 0.25rem;
  --spacing-px: 1px;
  --radius: 0.25rem;
}

@theme inline {
  --radius-none: 0;
  --radius-xs: calc(var(--radius) * 0.5);
  --radius-sm: calc(var(--radius) * 1);
  --radius-md: calc(var(--radius) * 1.5);
  --radius-lg: calc(var(--radius) * 2);
  --radius-xl: calc(var(--radius) * 3);
  --radius-2xl: calc(var(--radius) * 4);
  --radius-3xl: calc(var(--radius) * 6);
  --radius-4xl: calc(var(--radius) * 8);
  --radius-full: calc(var(--radius) * infinity);
}

:root {
  @variant contrast-more {
    --contrast: 3;
  }
}

@custom-variant ak-disabled {
  &:disabled,
  &[aria-disabled="true"] {
    @slot;
  }
}

@custom-variant ak-active {
  @variant active {
    @variant not-ak-disabled {
      @slot;
    }
  }
}

@custom-variant ak-hover {
  @variant hover {
    @variant not-ak-disabled {
      @slot;
    }
  }
}

@custom-variant ak-focus-visible {
  &:focus-visible,
  &[data-focus-visible] {
    @slot;
  }
}
