@theme {
  --contrast: 0;
  --chroma-srgb-max: 0.32;
  --chroma-p3-max: 0.368;
  --chroma-rec2020-max: 0.467;
  --chroma-grayscale: 0;
  --chroma-muted: 0.05;
  --chroma-balanced: 0.15;
  --chroma-vivid: 0.22;
  --chroma-neon: 0.32;
  --hue-warm: 90;
  --hue-cool: 220;
  --hue-red: 29.23;
  --hue-orange: 70.67;
  --hue-yellow: 109.77;
  --hue-green: 142.5;
  --hue-cyan: 194.77;
  --hue-blue: 264.05;
  --hue-magenta: 328.36;
  --hue-complementary: calc(h + 180);
  --hue-split1: calc(h + 150);
  --hue-split2: calc(h - 150);
  --hue-analogous1: calc(h + 30);
  --hue-analogous2: calc(h - 30);
  --hue-triadic1: calc(h + 120);
  --hue-triadic2: calc(h - 120);
  --hue-tetradic1: calc(h + 120);
  --hue-tetradic2: calc(h + 180);
  --hue-tetradic3: calc(h + 300);
  --hue-square1: calc(h + 90);
  --hue-square2: calc(h + 180);
  --hue-square3: calc(h + 270);
}

:root {
  @variant contrast-more {
    --contrast: 100;
  }
}

@custom-variant ak-dark {
  @container style(--_ak-lapp: oklch(1 0 0)) {
    @slot;
  }
}

@custom-variant ak-light {
  @container style(--_ak-lapp: oklch(0 0 0)) {
    @slot;
  }
}

@utility ak-layer {
  color: var(--ak-text);
  border-color: var(--ak-edge);
  background-color: var(--ak-layer);
  @apply ring-[color:var(--ak-edge)];
  --ak-layer: oklch(from var(--_ak-lct) var(--_ak-sokl) clamp(var(--_ak-layer-chroma-min, 0), c, var(--_ak-layer-chroma-max, var(--chroma-p3-max, 0.368))) h);
  --ak-shadow: oklch(0 0 0 / 15%);
  --ak-text: lch(from var(--ak-layer) calc((58.82 - l) * 1000000) 0 0);
  --ak-edge: oklch(from oklch(from oklch(from oklch(from var(--_ak-edge-color, var(--ak-layer)) clamp(0, (l + ((var(--_ak-lokl) * ((var(--_ak-edge-contrast-lightness, 1) + (var(--_ak-ct, (max(0, var(--contrast, 0)) / 100)) * 0.12)) * -1)) + (var(--_ak-dokl) * (var(--_ak-edge-contrast-lightness, 1) + (var(--_ak-ct, (max(0, var(--contrast, 0)) / 100)) * 0.12))))), 1) c h) var(--_ak-edge-lightness, calc(max(l, min(0.13, var(--_ak-edge-relative-lightness, 0))) + var(--_ak-edge-relative-lightness, 0))) var(--_ak-edge-chroma, calc(c + var(--_ak-edge-relative-chroma, 0))) var(--_ak-edge-h, calc(h + var(--_ak-edge-relative-hue, 0)))) clamp(var(--_ak-edge-lightness-min, 0), l, var(--_ak-edge-lightness-max, 1)) clamp(var(--_ak-edge-chroma-min, 0), c, var(--_ak-edge-chroma-max, var(--chroma-p3-max, 0.368))) h) l c h / clamp(0, (var(--_ak-edge-alpha, 0.1) + (var(--_ak-ct, (max(0, var(--contrast, 0)) / 100)) * 0.5)), 1));
  --_ak-ct: calc(max(0, var(--contrast, 0)) / 100);
  --_ak-cn: min(0, min(1, (var(--_ak-ct) * -1)));
  --_ak-lc: calc(var(--_ak-cn) * ((var(--_ak-lokl) * -0.3334) + (var(--_ak-dokl) * 0.3334)));
  --_ak-fla: max(0.2, (var(--_ak-flab) - (var(--_ak-ct) * 0.0825 * 4.2424)));
  --_ak-flb: min(0.9, (var(--_ak-flbb) + (var(--_ak-ct) * 0.04125 * 4.2424)));
  --_ak-adtl: clamp(0, var(--_ak-ald), 1);
  --_ak-adtd: clamp(0, (var(--_ak-ald) * -1), 1);
  --_ak-dbl: calc((var(--_ak-fla) * (1 - var(--_ak-adtl))) + (var(--_ak-flb) * var(--_ak-adtl)));
  --_ak-sokl: calc((l * (1 - clamp(0, (((l - var(--_ak-fla)) * (var(--_ak-flb) - l)) * 1000000), 1))) + (((var(--_ak-fla) * (1 - clamp(0, ((l - ((var(--_ak-fla) + var(--_ak-flb)) / 2)) * 1000000), 1))) + (var(--_ak-flb) * clamp(0, ((l - ((var(--_ak-fla) + var(--_ak-flb)) / 2)) * 1000000), 1))) * clamp(0, (((l - var(--_ak-fla)) * (var(--_ak-flb) - l)) * 1000000), 1)));
  --_ak-liad: calc(var(--_ak-layer-idle-auto-lightness, 0) * (var(--_ak-ald) * (1 - (clamp(0, ((((l + (var(--_ak-layer-idle-auto-lightness, 0) * var(--_ak-ald))) - var(--_ak-fla)) * (var(--_ak-flb) - (l + (var(--_ak-layer-idle-auto-lightness, 0) * var(--_ak-ald))))) * 1000000), 1) * 2))));
  --_ak-lad: calc(var(--_ak-layer-auto-lightness, 0) * (var(--_ak-ald) * (1 - (clamp(0, ((((l + (var(--_ak-layer-auto-lightness, 0) * var(--_ak-ald))) - var(--_ak-fla)) * (var(--_ak-flb) - (l + (var(--_ak-layer-auto-lightness, 0) * var(--_ak-ald))))) * 1000000), 1) * 2))));
  --_ak-licv: calc(var(--_ak-layer-idle-contrast-lightness, 0) + (var(--_ak-layer-idle-contrast-lightness, 0) * var(--_ak-ct) * 3.334));
  --_ak-lcv: calc(var(--_ak-layer-contrast-lightness, 0) + (var(--_ak-layer-contrast-lightness, 0) * var(--_ak-ct) * 3.334));
  --_ak-lib: oklch(from var(--_ak-layer-color, var(--ak-layer-parent)) var(--_ak-layer-lightness, calc(max(l, min(0.13, var(--_ak-layer-idle-relative-lightness, 0))) + var(--_ak-layer-idle-relative-lightness, 0))) var(--_ak-layer-chroma, calc(c + var(--_ak-layer-idle-relative-chroma, 0))) var(--_ak-layer-hue, calc(h + var(--_ak-layer-idle-relative-hue, 0))));
  --_ak-lim: var(--_ak-lib);
  --_ak-lia: oklch(from var(--_ak-lim) calc(clamp(var(--_ak-layer-lightness-min, 0), (max(l, min(0.13, var(--_ak-liad))) + var(--_ak-liad)), var(--_ak-layer-lightness-max, 1)) + var(--_ak-lc)) c h);
  --_ak-li: oklch(from var(--_ak-lia) calc(((l + (var(--_ak-licv) * var(--_ak-ald))) * (1 - (clamp(0, (var(--_ak-licv) * 1000000), 1) * ((var(--_ak-adtl) * clamp(0, (((l + (var(--_ak-licv) * var(--_ak-ald))) - var(--_ak-fla)) * 1000000), 1)) + (var(--_ak-adtd) * clamp(0, ((var(--_ak-flb) - (l + (var(--_ak-licv) * var(--_ak-ald)))) * 1000000), 1)))))) + (var(--_ak-dbl) * (clamp(0, (var(--_ak-licv) * 1000000), 1) * ((var(--_ak-adtl) * clamp(0, (((l + (var(--_ak-licv) * var(--_ak-ald))) - var(--_ak-fla)) * 1000000), 1)) + (var(--_ak-adtd) * clamp(0, ((var(--_ak-flb) - (l + (var(--_ak-licv) * var(--_ak-ald)))) * 1000000), 1)))))) c h);
  --_ak-lb: oklch(from oklch(from var(--_ak-li) calc(max(l, min(0.13, var(--_ak-layer-relative-lightness, 0))) + var(--_ak-layer-relative-lightness, 0)) calc(c + var(--_ak-layer-relative-chroma, 0)) calc(h + var(--_ak-layer-relative-hue, 0))) var(--_ak-sokl) c h);
  --_ak-la: oklch(from var(--_ak-lb) calc(max(l, min(0.13, var(--_ak-lad))) + var(--_ak-lad)) c h);
  --_ak-lct: oklch(from var(--_ak-la) calc(((l + (var(--_ak-lcv) * var(--_ak-ald))) * (1 - (clamp(0, (var(--_ak-lcv) * 1000000), 1) * ((var(--_ak-adtl) * clamp(0, (((l + (var(--_ak-lcv) * var(--_ak-ald))) - var(--_ak-fla)) * 1000000), 1)) + (var(--_ak-adtd) * clamp(0, ((var(--_ak-flb) - (l + (var(--_ak-lcv) * var(--_ak-ald)))) * 1000000), 1)))))) + (var(--_ak-dbl) * (clamp(0, (var(--_ak-lcv) * 1000000), 1) * ((var(--_ak-adtl) * clamp(0, (((l + (var(--_ak-lcv) * var(--_ak-ald))) - var(--_ak-fla)) * 1000000), 1)) + (var(--_ak-adtd) * clamp(0, ((var(--_ak-flb) - (l + (var(--_ak-lcv) * var(--_ak-ald)))) * 1000000), 1)))))) c h);
  @container style(--_context-0: even) {
    --_context-0: odd;
    --_ak-lpc-odd: var(--ak-layer);
    --ak-layer-parent: var(--_ak-lpc-even);
  }
  @container style(--_context-0: odd) {
    --_context-0: even;
    --_ak-lpc-even: var(--ak-layer);
    --ak-layer-parent: var(--_ak-lpc-odd);
  }
  @container not style(--_context-0) {
    --_context-0: odd;
    --_ak-lpc-odd: var(--ak-layer);
    --ak-layer-parent: var(--_ak-lpc-even);
  }
}

@utility ak-layer-* {
  --_ak-layer-chroma: --value(--chroma-*);
  --_ak-layer-hue: --value(--hue-*);
  --_ak-layer-color: --value(--color-*, [color]);
  --_ak-layer-idle-auto-lightness: calc(--value(number, [number], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100);
}

@utility ak-state-* {
  --_ak-layer-auto-lightness: calc(--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100);
}

@utility ak-layer-lighten-* {
  --_ak-layer-idle-relative-lightness: calc(--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100);
}

@utility ak-layer-darken-* {
  --_ak-layer-idle-relative-lightness: calc((--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100) * -1);
}

@utility ak-state-lighten-* {
  --_ak-layer-relative-lightness: calc(--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100);
}

@utility ak-state-darken-* {
  --_ak-layer-relative-lightness: calc((--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100) * -1);
}

@utility ak-layer-cool-* {
  --_ak-layer-hue: calc(h + ((mod(((var(--hue-cool, 220) - h) + 540), 360) - 180) * clamp(0, (--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100), 1)));
}

@utility ak-layer-warm-* {
  --_ak-layer-hue: calc(h + ((mod(((var(--hue-warm, 90) - h) + 540), 360) - 180) * clamp(0, (--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100), 1)));
}

@utility ak-layer-contrast-* {
  --_ak-layer-idle-contrast-lightness: calc(--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100);
}

@utility ak-state-contrast-* {
  --_ak-layer-contrast-lightness: calc(--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100);
}

@utility ak-layer-max-* {
  --_ak-layer-chroma-max: --value(--chroma-*);
  --_ak-layer-lightness-max: --value([*]);
  --_ak-layer-lightness-max: calc(--value(number, [number], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100);
}

@utility ak-layer-min-* {
  --_ak-layer-chroma-min: --value(--chroma-*);
  --_ak-layer-lightness-min: --value([*]);
  --_ak-layer-lightness-min: calc(--value(number, [number], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100);
}

@utility ak-layer-max-c-* {
  --_ak-layer-chroma-max: --value([*]);
  --_ak-layer-chroma-max: --value(--chroma-*);
  --_ak-layer-chroma-max: calc(--value(number, [number], "0", "5", "10", "15", "20", "25", "30", "35", "40") / 100);
}

@utility ak-layer-min-c-* {
  --_ak-layer-chroma-min: --value([*]);
  --_ak-layer-chroma-min: --value(--chroma-*);
  --_ak-layer-chroma-min: calc(--value(number, [number], "0", "5", "10", "15", "20", "25", "30", "35", "40") / 100);
}

@utility ak-layer-max-c-auto {
  --_ak-layer-chroma-max: calc(0.368 * (l / 0.645) * ((1 - l) / (1 - 0.645)));
}

@utility ak-layer-saturate-* {
  --_ak-layer-idle-relative-chroma: calc(--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40") / 100);
}

@utility ak-layer-desaturate-* {
  --_ak-layer-idle-relative-chroma: calc((--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40") / 100) * -1);
}

@utility ak-state-saturate-* {
  --_ak-layer-relative-chroma: calc(--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40") / 100);
}

@utility ak-state-desaturate-* {
  --_ak-layer-relative-chroma: calc((--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40") / 100) * -1);
}

@utility ak-layer-h-rotate-* {
  --_ak-layer-idle-relative-hue: --value(number, [*], "0", "15", "30", "45", "60", "75", "90", "105", "120", "135", "150", "165", "180", "195", "210", "225", "240", "255", "270", "285", "300", "315", "330", "345", "360");
}

@utility ak-state-h-rotate-* {
  --_ak-layer-relative-hue: --value(number, [*], "0", "15", "30", "45", "60", "75", "90", "105", "120", "135", "150", "165", "180", "195", "210", "225", "240", "255", "270", "285", "300", "315", "330", "345", "360");
}

@utility ak-layer-l-* {
  --_ak-layer-lightness: --value([*]);
  --_ak-layer-lightness: calc(--value(number, [number], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100);
}

@utility ak-layer-c-* {
  --_ak-layer-chroma: --value([*]);
  --_ak-layer-chroma: --value(--chroma-*);
  --_ak-layer-chroma: calc(--value(number, [number], "0", "5", "10", "15", "20", "25", "30", "35", "40") / 100);
}

@utility ak-layer-h-* {
  --_ak-layer-hue: --value(--hue-*, [*]);
  --_ak-layer-hue: --value(number, [number], "0", "15", "30", "45", "60", "75", "90", "105", "120", "135", "150", "165", "180", "195", "210", "225", "240", "255", "270", "285", "300", "315", "330", "345", "360");
}

@utility ak-edge-* {
  --_ak-edge-alpha: calc(--value(number, [number], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100);
  --_ak-edge-color: --value(--color-*, [color]);
  --_ak-edge-chroma: --value(--chroma-*);
  --_ak-edge-h: --value(--hue-*);
}

@utility ak-edge-lighten-* {
  --_ak-edge-relative-lightness: calc(--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100);
}

@utility ak-edge-darken-* {
  --_ak-edge-relative-lightness: calc((--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100) * -1);
}

@utility ak-edge-cool-* {
  --_ak-edge-h: calc(h + ((mod(((var(--hue-cool, 220) - h) + 540), 360) - 180) * clamp(0, (--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100), 1)));
}

@utility ak-edge-warm-* {
  --_ak-edge-h: calc(h + ((mod(((var(--hue-warm, 90) - h) + 540), 360) - 180) * clamp(0, (--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100), 1)));
}

@utility ak-edge-contrast-* {
  --_ak-edge-contrast-lightness: calc(--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100);
}

@utility ak-edge-max-* {
  --_ak-edge-chroma-max: --value(--chroma-*);
  --_ak-edge-lightness-max: --value([*]);
  --_ak-edge-lightness-max: calc(--value(number, [number], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100);
}

@utility ak-edge-min-* {
  --_ak-edge-chroma-min: --value(--chroma-*);
  --_ak-edge-lightness-min: --value([*]);
  --_ak-edge-lightness-min: calc(--value(number, [number], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100);
}

@utility ak-edge-max-c-* {
  --_ak-edge-chroma-max: --value([*]);
  --_ak-edge-chroma-max: --value(--chroma-*);
  --_ak-edge-chroma-max: calc(--value(number, [number], "0", "5", "10", "15", "20", "25", "30", "35", "40") / 100);
}

@utility ak-edge-min-c-* {
  --_ak-edge-chroma-min: --value([*]);
  --_ak-edge-chroma-min: --value(--chroma-*);
  --_ak-edge-chroma-min: calc(--value(number, [number], "0", "5", "10", "15", "20", "25", "30", "35", "40") / 100);
}

@utility ak-edge-max-c-auto {
  --_ak-edge-chroma-max: calc(0.368 * (l / 0.645) * ((1 - l) / (1 - 0.645)));
}

@utility ak-edge-saturate-* {
  --_ak-edge-relative-chroma: calc(--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40") / 100);
}

@utility ak-edge-desaturate-* {
  --_ak-edge-relative-chroma: calc((--value(number, [*], "0", "5", "10", "15", "20", "25", "30", "35", "40") / 100) * -1);
}

@utility ak-edge-h-rotate-* {
  --_ak-edge-relative-hue: --value(number, [*], "0", "15", "30", "45", "60", "75", "90", "105", "120", "135", "150", "165", "180", "195", "210", "225", "240", "255", "270", "285", "300", "315", "330", "345", "360");
}

@utility ak-edge-l-* {
  --_ak-edge-lightness: --value([*]);
  --_ak-edge-lightness: calc(--value(number, [number], "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100") / 100);
}

@utility ak-edge-c-* {
  --_ak-edge-chroma: --value([*]);
  --_ak-edge-chroma: --value(--chroma-*);
  --_ak-edge-chroma: calc(--value(number, [number], "0", "5", "10", "15", "20", "25", "30", "35", "40") / 100);
}

@utility ak-edge-h-* {
  --_ak-edge-h: --value(--hue-*, [*]);
  --_ak-edge-h: --value(number, [number], "0", "15", "30", "45", "60", "75", "90", "105", "120", "135", "150", "165", "180", "195", "210", "225", "240", "255", "270", "285", "300", "315", "330", "345", "360");
}

@property --_ak-tcl {
  syntax: "*";
  inherits: false;
  initial-value: calc((58.82 - l) * 1000000);
}

@property --_ak-tcokl {
  syntax: "*";
  inherits: false;
  initial-value: calc((0.645 - l) * 1000000);
}

@property --_ak-flab {
  syntax: "*";
  inherits: false;
  initial-value: calc(0.55 - ((min(c, 0.368) / 0.368) * 0.0825));
}

@property --_ak-flbb {
  syntax: "*";
  inherits: false;
  initial-value: calc(0.725 + ((min(c, 0.368) / 0.368) * 0.04125));
}

@property --_ak-ald {
  syntax: "*";
  inherits: false;
  initial-value: calc(clamp(0, ((0.645 - l) * 1000000), 1) - clamp(0, (1 - ((0.645 - l) * 1000000)), 1));
}

@property --_ak-dokl {
  syntax: "*";
  inherits: false;
  initial-value: clamp(0, ((0.645 - l) * 1000000), 1);
}

@property --_ak-lokl {
  syntax: "*";
  inherits: false;
  initial-value: clamp(0, (1 - ((0.645 - l) * 1000000)), 1);
}

@property --_ak-dl {
  syntax: "*";
  inherits: false;
  initial-value: clamp(0, ((58.82 - l) * 1000000), 1);
}

@property --_ak-ll {
  syntax: "*";
  inherits: false;
  initial-value: clamp(0, (1 - ((58.82 - l) * 1000000)), 1);
}

@property --_ak-ct {
  syntax: "*";
  inherits: false;
}

@property --_ak-cn {
  syntax: "*";
  inherits: false;
}

@property --_ak-lc {
  syntax: "*";
  inherits: false;
}

@property --_ak-fla {
  syntax: "*";
  inherits: false;
}

@property --_ak-flb {
  syntax: "*";
  inherits: false;
}

@property --_ak-sokl {
  syntax: "*";
  inherits: false;
}

@property --_ak-adtl {
  syntax: "*";
  inherits: false;
}

@property --_ak-adtd {
  syntax: "*";
  inherits: false;
}

@property --_ak-dbl {
  syntax: "*";
  inherits: false;
}

@property --_ak-liad {
  syntax: "*";
  inherits: false;
}

@property --_ak-lad {
  syntax: "*";
  inherits: false;
}

@property --_ak-licv {
  syntax: "*";
  inherits: false;
}

@property --_ak-lcv {
  syntax: "*";
  inherits: false;
}

@property --_ak-lib {
  syntax: "<color>";
  inherits: false;
  initial-value: canvas;
}

@property --_ak-lim {
  syntax: "<color>";
  inherits: false;
  initial-value: canvas;
}

@property --_ak-lia {
  syntax: "<color>";
  inherits: false;
  initial-value: canvas;
}

@property --_ak-li {
  syntax: "<color>";
  inherits: false;
  initial-value: canvas;
}

@property --_ak-lapp {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0);
}

@property --_ak-lb {
  syntax: "<color>";
  inherits: false;
  initial-value: canvas;
}

@property --_ak-la {
  syntax: "<color>";
  inherits: false;
  initial-value: canvas;
}

@property --_ak-lct {
  syntax: "<color>";
  inherits: false;
  initial-value: canvas;
}

@property --ak-layer {
  syntax: "<color>";
  inherits: true;
  initial-value: canvas;
}

@property --ak-layer-parent {
  syntax: "<color>";
  inherits: true;
  initial-value: canvas;
}

@property --ak-edge {
  syntax: "<color>";
  inherits: false;
  initial-value: oklch(0 0 0);
}

@property --ak-text {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0);
}

@property --ak-shadow {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0 / 15%);
}

@property --_ak-layer-color {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-idle-auto-lightness {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-idle-relative-lightness {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-idle-relative-chroma {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-idle-relative-hue {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-idle-contrast-lightness {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-lightness {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-chroma {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-hue {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-lightness-min {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-lightness-max {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-chroma-min {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-chroma-max {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-auto-lightness {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-relative-lightness {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-relative-chroma {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-relative-hue {
  syntax: "*";
  inherits: false;
}

@property --_ak-layer-contrast-lightness {
  syntax: "*";
  inherits: false;
}

@property --_ak-edge-color {
  syntax: "*";
  inherits: false;
}

@property --_ak-edge-relative-lightness {
  syntax: "*";
  inherits: false;
}

@property --_ak-edge-relative-chroma {
  syntax: "*";
  inherits: false;
}

@property --_ak-edge-relative-hue {
  syntax: "*";
  inherits: false;
}

@property --_ak-edge-contrast-lightness {
  syntax: "*";
  inherits: false;
}

@property --_ak-edge-lightness-min {
  syntax: "*";
  inherits: false;
}

@property --_ak-edge-lightness-max {
  syntax: "*";
  inherits: false;
}

@property --_ak-edge-chroma-min {
  syntax: "*";
  inherits: false;
}

@property --_ak-edge-chroma-max {
  syntax: "*";
  inherits: false;
}

@property --_ak-edge-lightness {
  syntax: "*";
  inherits: false;
}

@property --_ak-edge-chroma {
  syntax: "*";
  inherits: false;
}

@property --_ak-edge-h {
  syntax: "*";
  inherits: false;
}

@property --_ak-edge-alpha {
  syntax: "*";
  inherits: false;
}
