@import url("../select/style.css");

.popover {
  @apply
    overflow-visible
    shadow-none
    drop-shadow-lg
    dark:drop-shadow-lg-dark
  ;
}

.row {
  @apply
    flex
  ;
}

.select-item {
  @apply
    p-4
    after:[content:""]
    after:bg-current
    after:w-2
    after:h-2
    after:rounded-sm
  ;
}

.icon {
  @apply
    flex
    flex-col
  ;
}

.icon-row {
  @apply
    flex
  ;
}

.icon-item {
  @apply
    w-0.5
    h-0.5
    m-0.5
    bg-current
    opacity-50
    [&[data-active="true"]]:w-1
    [&[data-active="true"]]:h-1
    [&[data-active="true"]]:m-px
    [&[data-active="true"]]:opacity-100
  ;
}
