---
/**
 * @license
 * Copyright 2025-present Ariakit FZ-LLC. All Rights Reserved.
 *
 * This software is proprietary. See the license.md file in the root of this
 * package for licensing terms.
 *
 * SPDX-License-Identifier: UNLICENSED
 */
import { containerSizeContent } from "#app/lib/container-size.ts";
import { container } from "@ariakit/ui/styles/container.ts";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"p"> {
  hasSidebar?: boolean;
}

const { hasSidebar = true, class: className, style, ...props } = Astro.props;
---

<p
  {...container.html({
    $size: hasSidebar ? containerSizeContent : "default",
    $p: "none",
    class: className,
    // Astro doesn't merge duplicate style attributes, so the caller style
    // goes through the cv, which merges it.
    style,
  })}
  {...props}
>
  <slot />
</p>
