.wrapper {
  @apply
    flex
    flex-col
    p-2
    gap-2
    rounded-lg
    bg-white
    dark:bg-gray-700
    shadow
    dark:shadow-dark
  ;
}

.tab-list {
  @apply
    flex
    gap-2
  ;
}

.tab {
  @apply
    flex
    h-10
    items-center
    justify-center
    gap-2
    rounded
    border-none
    px-4
    text-base
    focus-visible:ariakit-outline
    aria-disabled:opacity-50
    hover:bg-black/5
    aria-selected:bg-primary-2
    aria-selected:text-primary-2
    aria-selected:hover:bg-primary-2-hover
    dark:hover:bg-white/5
    dark:aria-selected:bg-primary-2-dark
    dark:aria-selected:text-primary-2-dark
    dark:aria-selected:hover:bg-primary-2-dark-hover
  ;
}

.panels {
  @apply
    p-2
  ;
}
