@import "../menu/style.css";
@import "../../../dialog/__examples__/dialog/style.css";
@import "../../../form/__examples__/form/style.css";

.button {
  @apply gap-2;
}

.badge {
  @apply
    flex
    items-center
    justify-center
    h-5
    px-2
    text-xs
    rounded-full
    bg-primary-1
    text-primary-1
    dark:bg-primary-1-dark
    dark:text-primary-1-dark;
}

.menu {
  transform: translate3d(0, -16px, 0);
  @apply
    min-h-min
    overflow-visible
    opacity-0
    transition-[opacity,transform];
}

.menu[data-enter] {
  transform: translate3d(0, 0, 0);
  @apply opacity-100;
}

.header {
  @apply
    pb-2
    mb-2
    border-b
    border-canvas-4
    dark:border-canvas-4-dark;
}

.menu .heading {
  @apply text-base pl-2;
}

.scroller {
  @apply overflow-auto;
}

.dialog:not([data-animated]) {
  transform: translate3d(-50%, 64px, 0);
  @apply top-0;
}

.dialog[data-animated] {
  transform: translate3d(-50%, 32px, 0);
  @apply
    top-0
    opacity-0
    transition-[opacity,transform];
}

.dialog[data-enter] {
  transform: translate3d(-50%, 64px, 0);
  @apply opacity-100;
}

.form {
  @apply min-h-0 w-auto p-0;
}
