.playground {
  @apply
    grid
    w-full
    grid-cols-2
    rounded-lg
    border
    border-canvas-3
    dark:border-canvas-3-dark;
}

.editor {
  max-height: 250px;
  @apply
    border-r
    border-canvas-3
    dark:border-canvas-3-dark;
}

.preview {
  @apply flex w-full items-center justify-center p-4;
}
