.playground {
  display: flex;
  border: 1px solid var(--color-canvas-3-border);
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.editor {
  flex: 1;
  max-width: 50%;
  border-right: 1px solid var(--color-canvas-3-border);
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: var(--space-4);
}
