name: patch-or-commit
description: Generate a patch for forks or commit directly for internal PRs

inputs:
  message:
    description: Commit message and PR title
    required: true
  new-branch:
    description: Branch name when creating a new PR
    required: true
  patch-file:
    description: Name of the patch file to generate (e.g. og-images.patch)
    required: true
  patch-name:
    description: Name of the artifact to upload (e.g. og-images-diff)
    required: true
  token:
    description: Token used for PR creation
    required: true

runs:
  using: "composite"
  steps:
    - name: Generate patch
      shell: bash
      if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository
      run: |
        git add -A
        git diff --cached --binary > ${{ inputs.patch-file }}

    - name: Upload patch
      if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository
      uses: actions/upload-artifact@v6
      with:
        name: ${{ inputs.patch-name }}
        path: ${{ inputs.patch-file }}

    - name: Commit or create PR
      if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository)
      uses: ./.github/workflows/commit-or-pr
      with:
        event: ${{ github.event_name }}
        message: ${{ inputs.message }}
        head-branch: ${{ github.head_ref || github.ref_name }}
        new-branch: ${{ inputs.new-branch }}
        token: ${{ inputs.token }}
