@layer theme {
  .focusable {
    @apply
      [--outline-offset:0]
      [--outline:theme(colors.blue.600)]
  }

  .clickable {
    @apply
      [--depth:2px]
      [--padding-block:0px]
  }

  .popup {
    @apply
      [--border:theme(colors.black/10%)]
      [--shadow:theme(colors.black/25%)]
      [--shadow-size:0_4px_8px_-4px]
      dark:[--border:theme(colors.white/20%)]
      dark:[--shadow:theme(colors.black/35%)]
      dark:[--shadow-size:0_6px_12px_-4px]
  }

  .elevation-1 {
    @apply
      [--shadow:theme(colors.black/20%)]
      [--shadow-size:0_8px_16px_-6px]
      dark:[--shadow-size:0_12px_24px_-6px]
  }

  .elevation-2 {
    @apply
      [--shadow:theme(colors.black/15%)]
      [--shadow-size:0_16px_32px_-6px]
      dark:[--shadow-size:0_18px_36px_-8px]
  }
}

.focusable {
  @apply
    outline-2
    outline-[--outline]
    outline-offset-[--outline-offset]
    data-[focus-visible]:outline
    aria-disabled:opacity-50
}

.clickable {
  @apply
    select-none
    whitespace-nowrap
    active:pt-[calc(var(--padding-block)+var(--depth))]
    active:pb-[calc(var(--padding-block)-var(--depth))]
}

.popup {
  @apply
    bg-white
    text-black
    dark:bg-gray-700
    dark:text-white
    [box-shadow:0_0_0_1px_var(--border),var(--shadow-size)_var(--shadow)]
}

.input {
  @apply
    bg-white
    hover:bg-gray-50
    dark:bg-gray-900
    dark:hover:bg-gray-950
    outline-2
    outline-offset-[-1px]
    outline-blue-600
    focus-within:outline
    cursor-text
    [box-shadow:inset_0_0_0_1px_theme(colors.black/15%),inset_0_2px_5px_0_theme(colors.black/8%)]
    dark:[box-shadow:inset_0_0_0_1px_theme(colors.white/15%),inset_0_-1px_0_0_theme(colors.white/5%),inset_0_2px_5px_0_theme(colors.black/15%)]
}
