@import url("../../../button/__examples__/button/style.css");

.popover {
  display: flex;
  flex-direction: column;
  z-index: var(--layer-dialog);
  background: var(--color-canvas-4);
  border: 1px solid var(--color-canvas-4-border);
  border-radius: var(--radius-lg);
  padding: var(--space-4);
  gap: var(--space-2);
  width: 250px;
  filter: var(--drop-shadow);
  @apply w-full bg-canvas-1 hover:bg-canvas-1-hover;
}

.popover-arrow svg {
  fill: var(--color-canvas-4);
  stroke: var(--color-canvas-4-border);
}

.popover-heading {
  margin: 0;
  font-size: 1.25em;
  font-weight: bold;
}
