@import url("../../../button/__examples__/button/style.css");

.popover {
  max-width: min(calc(100vw - 16px), 320px);
  @apply
    flex
    flex-col
    gap-4
    z-50
    p-4
    rounded-lg
    drop-shadow
    dark:drop-shadow-dark
    border
    border-solid
    border-canvas-4
    dark:border-canvas-4-dark
    bg-canvas-4
    dark:bg-canvas-4-dark
    text-canvas-4
    dark:text-canvas-4-dark
    focus-visible:ariakit-outline;
}

.arrow svg {
  @apply
    fill-canvas-4
    dark:fill-canvas-4-dark
    stroke-canvas-4
    dark:stroke-canvas-4-dark;
}

.heading {
  @apply m-0 text-xl font-medium;
}
