---
import "@fontsource-variable/inter";
import "../../../styles/global.css";
import { getEntry } from "astro:content";
import { render } from "astro:content";
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const previews = await getCollection("previews");
  return previews.flatMap((preview) =>
    preview.data.frameworks.map((framework) => ({
      params: {
        framework,
        example: preview.id,
      },
    }))
  );
}) satisfies GetStaticPaths;

const { framework, example } = Astro.params;

Astro.locals.framework = framework;

const entry = await getEntry("previews", example);

if (!entry) {
  return Astro.rewrite("/404");
}

const { Content } = await render(entry);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Ariakit</title>
  </head>
  <body class="grid not-data-iframe:items-center">
    <div class="mx-auto">
      <Content framework={framework} />
    </div>
  </body>
</html>
