.playground {
  display: flex;
  border: 1px solid var(--color-grayscale-100, #e1e1e1);
  border-radius: 4px;
  overflow: hidden;
}

.editor {
  flex: 1;
  max-width: 50%;
  border-right: 1px solid var(--color-grayscale-100, #e1e1e1);
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 16px;
}
