@import "../menu/style.css";

.wrapper {
  @apply
    flex
    items-center
    justify-center
    py-10
    px-16
    rounded-lg
    border-2
    border-dashed
    border-canvas-5
    dark:border-canvas-5-dark
  ;
}
