@import url("../menu/style.css");

.menu {
  @apply
    p-2
    overflow-visible
    max-h-[min(var(--popover-available-height,300px),300px)]
  ;
}

.combobox {
  @apply
    w-fit
    h-10
    rounded
    border-none
    px-4
    m-2
    flex-none
    text-base
    text-black
    dark:text-white
    bg-gray-150
    hover:bg-gray-200
    dark:bg-gray-850
    dark:hover:bg-gray-900
    focus-visible:ariakit-outline-input
  ;
}

.combobox-list {
  @apply
    p-2
    overflow-auto
    overscroll-contain
    rounded-bl-[inherit]
    rounded-br-[inherit]
    border-t
    border-t-gray-250
    dark:border-t-gray-550
  ;
}
