@import "../../../button/__examples__/button/style.css";

.form {
  width: 280px;
  min-height: 320px;
  @apply flex flex-col gap-4 py-10;
}

.field {
  @apply flex flex-col gap-2;
}

.field input {
  @apply
    w-full
    h-10
    rounded-lg
    border-none
    px-4
    text-base
    focus-visible:ariakit-outline-input
    bg-canvas-1
    text-canvas-1
    hover:bg-canvas-1-hover
    dark:bg-canvas-1-dark
    dark:text-canvas-1-dark
    dark:hover:bg-canvas-1-dark-hover;
}

.error:empty {
  @apply absolute;
}

.error:not(:empty) {
  @apply
    rounded-lg
    border
    border-danger-1
    bg-danger-1
    py-2
    px-4
    text-danger-1
    dark:border-danger-1-dark
    dark:bg-danger-1-dark
    dark:text-danger-1-dark;
}
