---
import Meta from "#app/components/meta.astro";
import "./ak.css";
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <Meta />
  </head>
  <body class="p-4 ak-layer ak-layer-canvas ak-layer-20_ [--contrast:90]_">
    <div class="flex flex-wrap gap-2 m- *:p-4">
      <span class="ak-text ak-text-primary ak-text-neon">Mix</span>

      <div class="ak-layer ak-layer-black hover:ak-state-10 ak-layer-min-20">
        black
      </div>
      <div
        class="ak-layer relative ak-light-high:ring shadow-2xl ak-layer-lighten-15"
      >
        <div
          class="ak-layer absolute bg-transparent inset-0 pointer-events-none ak-dark-high:border"
        >
        </div>
        Feature
      </div>
      <div class="ak-layer ak-layer-primary ak-layer-mix-20 hover:ak-state-10">
        <span class="ak-text ak-text-primary">Mix</span>
      </div>
      <div class="ak-layer ak-layer-primary_ ak-text-40">Text</div>
      <div class="ak-layer ak-layer-invert hover:ak-state-10">Invert</div>

      <div
        class="ak-layer border ak-dark-low:ak-edge-l-0 ak-dark-low:ak-edge-100 ak-edge-primary ak-edge-20 hover:ak-state-10"
      >
        black
      </div>
      <div
        class="ak-layer ak-edge-10 ak-edge-complementary border ak-layer-10 ak-layer-complementary ak-layer-c-balanced hover:ak-state-10"
      >
        auto
      </div>
      <div class="ak-layer ak-edge-20_ border ak-layer-10 hover:ak-state-10">
        toggle
      </div>
      <div class="ak-layer ak-layer-contrast-40 hover:ak-state-contrast-10">
        layer contrast
      </div>
      <div class="ak-layer ak-layer-10 hover:ak-state-contrast-35">
        state contrast
      </div>
      <div
        class="ak-layer ak-layer-blue-500 ak-layer-max-c-muted hover:ak-state-10"
      >
        gray
      </div>
      <div class="ak-layer ak-layer-20 hover:ak-state-10">red</div>
      <div class="ak-layer ak-layer-orange ak-layer-blue-500 hover:ak-state-10">
        orange
      </div>
      <div class="ak-layer ak-layer-yellow ak-layer-blue-500 hover:ak-state-10">
        yellow
      </div>
      <div class="ak-layer ak-layer-green ak-layer-blue-500 hover:ak-state-10">
        green
      </div>
      <div
        class="ak-layer ak-layer-cyan ak-layer-neon ak-layer-l-50 ak-layer-blue-500 hover:ak-state-10"
      >
        cyan
      </div>
      <div class="ak-layer ak-layer-blue ak-layer-blue-500 hover:ak-state-10">
        blue
      </div>
      <div class="ak-layer ak-layer-contrast-30 hover:ak-state-10">
        canvas contrast
      </div>
      <div
        class="ak-layer ak-layer-magenta ak-layer-blue-500 hover:ak-state-10"
      >
        magenta
      </div>
    </div>
    <div class="[--contrast:100] ak-layer ak-layer-canvas">
      <div class="flex flex-wrap gap-2 m- *:p-4">
        <div class="ak-layer ak-layer-black hover:ak-state-10 ak-layer-min-20">
          black
        </div>
        <div
          class="ak-layer ak-layer-10 ak-layer-complementary ak-layer-c-balanced hover:ak-state-10"
        >
          auto
        </div>
        <div class="ak-layer ak-layer-10 hover:ak-state-10">toggle</div>
        <div class="ak-layer ak-layer-contrast-10 hover:ak-state-contrast-10">
          layer contrast
        </div>
        <div class="ak-layer ak-layer-10 hover:ak-state-contrast-35">
          state contrast
        </div>
        <div
          class="ak-layer ak-layer-blue-500 ak-layer-max-c-muted hover:ak-state-10"
        >
          gray
        </div>
        <div class="ak-layer ak-layer-20 hover:ak-state-10">red</div>
        <div
          class="ak-layer ak-layer-orange ak-layer-blue-500 hover:ak-state-10"
        >
          orange
        </div>
        <div
          class="ak-layer ak-layer-yellow ak-layer-blue-500 hover:ak-state-10"
        >
          yellow
        </div>
        <div
          class="ak-layer ak-layer-green ak-layer-blue-500 hover:ak-state-10"
        >
          green
        </div>
        <div class="ak-layer ak-layer-cyan ak-layer-blue-500 hover:ak-state-10">
          cyan
        </div>
        <div class="ak-layer ak-layer-blue ak-layer-blue-500 hover:ak-state-10">
          blue
        </div>
        <div class="ak-layer ak-layer-contrast-30 hover:ak-state-10">
          canvas contrast
        </div>
        <div
          class="ak-layer ak-layer-magenta ak-layer-blue-500 hover:ak-state-10"
        >
          magenta
        </div>
      </div>
    </div>
    <div class="w-fit gap-2 grid">
      <div class="flex gap-2 *:p-2 *:ak-layer *:ak-layer-primary">
        <div>
          <span class="ak-text ak-text-[lightblue]">lightblue</span>
        </div>
        <div>
          <span class="ak-text ak-text-[blue]">blue</span>
        </div>
        <div>
          <span class="ak-text ak-text-[green]">green</span>
        </div>
        <div>
          <span class="ak-text ak-text-[yellow]">yellow</span>
        </div>
        <div>
          <span class="ak-text ak-text-[orange]">orange</span>
        </div>
        <div>
          <span class="ak-text ak-text-[red]">red</span>
        </div>
        <div>
          <span class="ak-text ak-text-[purple]">purple</span>
        </div>
        <div>
          <span class="ak-text ak-text-[pink]">pink</span>
        </div>
      </div>
      <div class="flex gap-2 *:p-2 *:ak-layer *:ak-layer-[#707070]">
        <div>
          <span class="ak-text ak-text-[lightblue]">lightblue</span>
        </div>
        <div>
          <span class="ak-text ak-text-[blue]">blue</span>
        </div>
        <div>
          <span class="ak-text ak-text-[green]">green</span>
        </div>
        <div>
          <span class="ak-text ak-text-[yellow]">yellow</span>
        </div>
        <div>
          <span class="ak-text ak-text-[orange]">orange</span>
        </div>
        <div>
          <span class="ak-text ak-text-[red]">red</span>
        </div>
        <div>
          <span class="ak-text ak-text-[purple]">purple</span>
        </div>
        <div>
          <span class="ak-text ak-text-[pink]">pink</span>
        </div>
      </div>
      <div class="flex gap-2 *:p-2 *:ak-layer *:ak-layer-white">
        <div>
          <span class="ak-text ak-text-[lightblue]">lightblue</span>
        </div>
        <div>
          <span class="ak-text ak-text-[blue]">blue</span>
        </div>
        <div>
          <span class="ak-text ak-text-[green]">green</span>
        </div>
        <div>
          <span class="ak-text ak-text-[yellow]">yellow</span>
        </div>
        <div>
          <span class="ak-text ak-text-[orange]">orange</span>
        </div>
        <div>
          <span class="ak-text ak-text-[red]">red</span>
        </div>
        <div>
          <span class="ak-text ak-text-[purple]">purple</span>
        </div>
        <div>
          <span class="ak-text ak-text-[pink]">pink</span>
        </div>
      </div>
      <div class="flex gap-2 *:p-2 *:ak-layer *:ak-layer-[#EB4899]">
        <div>
          <span class="ak-text ak-text-[lightblue]">lightblue</span>
        </div>
        <div>
          <span class="ak-text ak-text-[blue]">blue</span>
        </div>
        <div>
          <span class="ak-text ak-text-[green]">green</span>
        </div>
        <div>
          <span class="ak-text ak-text-[yellow]">yellow</span>
        </div>
        <div>
          <span class="ak-text ak-text-[orange]">orange</span>
        </div>
        <div>
          <span class="ak-text ak-text-[red]">red</span>
        </div>
        <div>
          <span class="ak-text ak-text-[purple]">purple</span>
        </div>
        <div>
          <span class="ak-text ak-text-[pink]">pink</span>
        </div>
      </div>
      <div class="flex gap-2 *:p-2 *:ak-layer *:ak-layer-[#999]">
        <div>
          <span class="ak-text ak-text-[lightblue]">lightblue</span>
        </div>
        <div>
          <span class="ak-text ak-text-[blue]">blue</span>
        </div>
        <div>
          <span class="ak-text ak-text-[green]">green</span>
        </div>
        <div>
          <span class="ak-text ak-text-[yellow]">yellow</span>
        </div>
        <div>
          <span class="ak-text ak-text-[orange]">orange</span>
        </div>
        <div>
          <span class="ak-text ak-text-[red]">red</span>
        </div>
        <div>
          <span class="ak-text ak-text-[purple]">purple</span>
        </div>
        <div>
          <span class="ak-text ak-text-[pink]">pink</span>
        </div>
      </div>
    </div>
    <div
      class="p-4 ak-layer ak-layer-darken-60 ak-layer-magenta ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-darken-50 ak-layer-magenta ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-darken-40 ak-layer-magenta ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-darken-30 ak-layer-magenta ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-darken-20 ak-layer-magenta ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-darken-10 ak-layer-magenta ak-layer-primary"
    >
      dsada
    </div>
    <div class="p-4 ak-layer ak-layer-magenta ak-layer-primary">lol</div>
    <div
      class="p-4 ak-layer ak-layer-magenta ak-layer-lighten-10 ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-magenta ak-layer-lighten-20 ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-magenta ak-layer-lighten-30 ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-magenta ak-layer-lighten-40 ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-magenta ak-layer-lighten-50 ak-layer-primary"
    >
      dsada
    </div>
  </body>
</html>
