---
import "./ak.css";
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head> </head>
  <body class="p-4 ak-layer ak-layer-canvas">
    <div class="flex flex-wrap gap-2 m- *:p-4">
      <div class="ak-layer ak-layer-black hover:ak-state-10 ak-layer-min-20">
        black
      </div>
      <div class="ak-layer ak-layer-10 ak-layer-canvas hover:ak-state-10">
        auto
      </div>
      <div class="ak-layer ak-layer-10 ak-layer-canvas hover:ak-state-10">
        toggle
      </div>
      <div
        class="ak-layer ak-layer-contrast-40 ak-layer-canvas hover:ak-state-contrast-10"
      >
        layer contrast
      </div>
      <div
        class="ak-layer ak-layer-10 ak-layer-canvas hover:ak-state-contrast-35"
      >
        state contrast
      </div>
      <div
        class="ak-layer ak-layer-blue-500 ak-layer-max-c-muted hover:ak-state-10"
      >
        gray
      </div>
      <div class="ak-layer ak-layer-20 ak-layer-canvas hover:ak-state-10">
        red
      </div>
      <div class="ak-layer ak-layer-orange ak-layer-blue-500 hover:ak-state-10">
        orange
      </div>
      <div class="ak-layer ak-layer-yellow ak-layer-blue-500 hover:ak-state-10">
        yellow
      </div>
      <div class="ak-layer ak-layer-green ak-layer-blue-500 hover:ak-state-10">
        green
      </div>
      <div
        class="ak-layer ak-layer-cyan ak-layer-neon ak-layer-l-50 ak-layer-blue-500 hover:ak-state-10"
      >
        cyan
      </div>
      <div class="ak-layer ak-layer-blue ak-layer-blue-500 hover:ak-state-10">
        blue
      </div>
      <div
        class="ak-layer ak-layer-contrast-30 ak-layer-canvas hover:ak-state-10"
      >
        canvas contrast
      </div>
      <div
        class="ak-layer ak-layer-magenta ak-layer-blue-500 hover:ak-state-10"
      >
        magenta
      </div>
    </div>
    <div class="[--contrast:85]">
      <div class="flex flex-wrap gap-2 m- *:p-4">
        <div class="ak-layer ak-layer-black hover:ak-state-10 ak-layer-min-20">
          black
        </div>
        <div class="ak-layer ak-layer-10 ak-layer-canvas hover:ak-state-10">
          auto
        </div>
        <div class="ak-layer ak-layer-10 ak-layer-canvas hover:ak-state-10">
          toggle
        </div>
        <div
          class="ak-layer ak-layer-contrast-10 ak-layer-canvas hover:ak-state-contrast-10"
        >
          layer contrast
        </div>
        <div
          class="ak-layer ak-layer-10 ak-layer-canvas hover:ak-state-contrast-35"
        >
          state contrast
        </div>
        <div
          class="ak-layer ak-layer-blue-500 ak-layer-max-c-muted hover:ak-state-10"
        >
          gray
        </div>
        <div class="ak-layer ak-layer-20 ak-layer-canvas hover:ak-state-10">
          red
        </div>
        <div
          class="ak-layer ak-layer-orange ak-layer-blue-500 hover:ak-state-10"
        >
          orange
        </div>
        <div
          class="ak-layer ak-layer-yellow ak-layer-blue-500 hover:ak-state-10"
        >
          yellow
        </div>
        <div
          class="ak-layer ak-layer-green ak-layer-blue-500 hover:ak-state-10"
        >
          green
        </div>
        <div class="ak-layer ak-layer-cyan ak-layer-blue-500 hover:ak-state-10">
          cyan
        </div>
        <div class="ak-layer ak-layer-blue ak-layer-blue-500 hover:ak-state-10">
          blue
        </div>
        <div
          class="ak-layer ak-layer-contrast-30 ak-layer-canvas hover:ak-state-10"
        >
          canvas contrast
        </div>
        <div
          class="ak-layer ak-layer-magenta ak-layer-blue-500 hover:ak-state-10"
        >
          magenta
        </div>
      </div>
    </div>
    <div
      class="p-4 ak-layer ak-layer-darken-60 ak-layer-magenta ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-darken-50 ak-layer-magenta ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-darken-40 ak-layer-magenta ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-darken-30 ak-layer-magenta ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-darken-20 ak-layer-magenta ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-darken-10 ak-layer-magenta ak-layer-primary"
    >
      dsada
    </div>
    <div class="p-4 ak-layer ak-layer-magenta ak-layer-primary">lol</div>
    <div
      class="p-4 ak-layer ak-layer-magenta ak-layer-lighten-10 ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-magenta ak-layer-lighten-20 ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-magenta ak-layer-lighten-30 ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-magenta ak-layer-lighten-40 ak-layer-primary"
    >
      dsada
    </div>
    <div
      class="p-4 ak-layer ak-layer-magenta ak-layer-lighten-50 ak-layer-primary"
    >
      dsada
    </div>
  </body>
</html>
