---
/**
 * @license
 * Copyright 2025-present Ariakit FZ-LLC. All Rights Reserved.
 *
 * This software is proprietary. See the license.md file in the root of this
 * package for licensing terms.
 *
 * SPDX-License-Identifier: UNLICENSED
 */
import { Icon } from "#app/icons/icon.react.tsx";
import BadgeAstro from "@ariakit/ui/html/badge.astro";
import { Badge } from "@ariakit/ui/html/badge.react.tsx";
import { Badge as BadgeSolid } from "@ariakit/ui/html/badge.solid.tsx";
import { Button } from "@ariakit/ui/html/button.solid.tsx";
import Layout from "./_layout.astro";
---

<Layout>
  Soon

  <div class="flex gap-2 items-center p-2">
    <Button>Button</Button>
    <Button variant="primary">Button</Button>
    <Button variant="ghost" outline>Button</Button>
    <Button>
      <Icon name="danger" slot="iconStart" />
      Button
    </Button>
    <Button disabled>
      Button dhsajkdhk adsadsa
      <Icon name="chevronDown" slot="iconEnd" />
    </Button>
    <BadgeAstro>
      <Icon name="danger" slot="iconStart" />
      Badge Astro
    </BadgeAstro>
    <BadgeSolid variant="danger" size="lg">
      <!-- <Icon name="danger" slot="iconStart" /> -->
      Badge Solid
      <Icon name="danger" slot="iconEnd" />
    </BadgeSolid>
    <Badge>Badge</Badge>

    <Badge variant="primary" outline="bold"> Badge </Badge>
    <Badge>
      <Icon name="danger" slot="iconStart" />
      Badge<br />dsadsa
    </Badge>
    <Badge variant="secondary">
      <Icon name="danger" slot="iconStart" />
      Badge
    </Badge>
    <Badge variant="secondary" className="border-dashed">
      <div class="size-[1em] bg-blue-500 rounded-full" slot="iconStart"></div>
      Plus
    </Badge>
    <Badge variant="success">Badge</Badge>
    <Badge variant="warning">Badge</Badge>
    <Badge variant="danger">Badge</Badge>
  </div>
</Layout>
