---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="ak-layer-blue-950 border-b-20 hover:ak-layer-3 p-2">
    <div class="ak-layer-highlight p-2">
      <div class="ak-layer text-(--ak-layer-parent) p-2">
        dadsa
      </div>
    </div>
  </div>
  <div class="ak-layer p-2">
    <div class="ak-layer-down p-2">dasdsa</div>
  </div>
  <div class="ak-layer-base p-8">
    <div class="p-2 ak-layer-mix-brand-4">
      <div class="p-2 ak-layer-down-2">
        dse2
      </div>
    </div>
  </div>
  <input type="color" />
</Layout>

<script>
  const colorInput = document.querySelector("input[type='color']");
  colorInput?.addEventListener("input", (event) => {
    // @ts-expect-error
    const color = event.target?.value;
    document.body.style.setProperty("--color-base", color);
  });
</script>
