---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="ak-layer-[#fff] border-b-20 hover:ak-layer-3 p-2">
    <div class="ak-layer ak-frame-container shadow-lg ring">
      <div class="ak-layer-down ak-frame/2 border">
        dadsa
      </div>
    </div>
  </div>
  <div class="ak-layer p-2">
    <div class="ak-layer-down p-2">dasdsa</div>
  </div>
  <div class="ak-layer-base p-8">
    <div class="ak-frame-xl/2 ak-layer-brand">
      <div class="ak-text-brand">dsadsa</div>
      <div class="ak-frame/2 ak-layer-2">
        <div class="ak-text-2">dse2</div>
      </div>
    </div>
  </div>
  <div class="ak-layer-brand ak-frame-xl/2 m-2 flex gap-2">
    <div class="">auto</div>
    <div class="ak-text-[#569CD6]">lightblue</div>
    <div class="ak-text-brand">blue</div>
    <div class="ak-text-[darkmagenta]">purple</div>
    <div class="ak-text-[yellow]">yellow</div>
  </div>
  <div class="ak-layer-[#707070] ak-frame-xl/2 m-2 flex gap-2">
    <div class="">auto</div>
    <div class="ak-text-[#569CD6]">lightblue</div>
    <div class="ak-text-brand">blue</div>
    <div class="ak-text-[darkmagenta]">purple</div>
    <div class="ak-text-[yellow]">yellow</div>
  </div>
  <div class="ak-layer-[#000000] ak-frame-xl/2 m-2 flex gap-2">
    <div class="">auto</div>
    <div class="ak-text-[#569CD6]">lightblue</div>
    <div class="ak-text-brand">blue</div>
    <div class="ak-text-[darkmagenta]">purple</div>
    <div class="ak-text-[yellow]">yellow</div>
  </div>
  <div class="ak-layer-accent ak-frame-xl/2 m-2 flex gap-2">
    <div class="">auto</div>
    <div class="ak-text-[#569CD6]">lightblue</div>
    <div class="ak-text-brand">blue</div>
    <div class="ak-text-[darkmagenta]">purple</div>
    <div class="ak-text-[yellow]">yellow</div>
  </div>
  <div class="ak-layer-[#fff] ak-frame-xl/2 m-2 flex gap-2">
    <div class="">auto</div>
    <div class="ak-text-[#569CD6]">lightblue</div>
    <div class="ak-text-brand">blue</div>
    <div class="ak-text-[darkmagenta]">purple</div>
    <div class="ak-text-[yellow]">yellow</div>
  </div>
  <div class="ak-layer-[#808080] ak-frame-xl/2 m-2 flex gap-2">
    <div class="">auto</div>
    <div class="ak-text-[#569CD6]">lightblue</div>
    <div class="ak-text-brand">blue</div>
    <div class="ak-text-[darkmagenta]">purple</div>
    <div class="ak-text-[yellow]">yellow</div>
  </div>
  <input type="color" />
</Layout>

<script>
  const colorInput = document.querySelector("input[type='color']");
  colorInput?.addEventListener("input", (event) => {
    // @ts-expect-error
    const color = event.target?.value;
    document.body.style.setProperty("--color-base", color);
  });
</script>
