---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="ak-layer-canvas p-10 flex">
    <div
      class="ak-layer ring ak-edge/10 shadow-2xl ak-frame-container grid gap-1"
    >
      dsdas
      <div class="ak-layer-down ak-frame-field">dsadsadas</div>
      <div class="ak-layer ak-frame-field">dsadsadas</div>
    </div>
  </div>
  <div class="flex gap-2 *:ak-frame-xl/2 p-2 flex-wrap">
    <div class="ak-layer-[#888]">Text</div>
    <div class="ak-layer-[#aaa]">Text</div>

    <div class="ak-layer-[#009f00] hover:ak-layer-pop-vivid-amber-400">
      Text
    </div>
    <div class="ak-layer-[#18324A] hover:ak-layer-pop-vivid">Text</div>
    <div class="ak-layer-[oklch(62.28%_0.394_141)] hover:ak-layer-pop">
      Text
    </div>
    <div class="ak-layer-[oklch(60.28%_0.2764_26.72)] hover:ak-layer-pop">
      Text
    </div>
    <div class="ak-layer-[oklch(61.28%_0.38_262)] hover:ak-layer-pop">Text</div>
    <div class="ak-layer-[#ed1924] hover:ak-layer-pop">Text</div>
    <div class="ak-layer-[#208BFE] hover:ak-layer-pop">Text</div>
    <div class="ak-layer-[oklch(60.28%_0.2307_265.44)] hover:ak-layer-pop">
      Text
    </div>
    <div class="ak-layer-[#d302cb] hover:ak-layer-pop">Text</div>
    <div class="ak-layer-[#007acc] hover:ak-layer-pop">Text</div>
    <div class="ak-layer-[#FF5F57] hover:ak-layer-pop">Text</div>
    <div class="ak-layer-[#FF23E2] hover:ak-layer-pop">Text</div>
    <div class="ak-layer-[#0385FF] hover:ak-layer-pop">Text</div>

    <div class="ak-layer-[oklch(77.79%_0.2736_330.45)] hover:ak-layer-pop">
      Text
    </div>
    <div class="ak-layer-[oklch(78.85%_0.2_30.27)] hover:ak-layer-pop">
      Text
    </div>
    <div class="ak-layer-[oklch(78.85%_0.091_142.27)] hover:ak-layer-pop">
      Text
    </div>
    <div class="ak-layer-[#ff8098] hover:ak-layer-pop">Text</div>
  </div>
  <div class="ak-layer-[#000] p-8">
    <div class="hover:ak-layer-pop ak-layer-contrast-[green] ak-frame-xl/2">
      dsada
    </div>
    <div class="hover:ak-layer-pop ak-layer-contrast-secondary ak-frame-xl/2">
      dsdsa
    </div>
    <div class="hover:ak-layer-pop ak-layer-contrast-primary ak-frame-xl/2">
      dsada
    </div>
    <div class="hover:ak-layer-pop ak-layer-contrast-primary-2 ak-frame-xl/2">
      dsada
    </div>
    <div
      class="hover:ak-layer-pop ak-layer-contrast-primary-down-1 ak-frame-xl/2"
    >
      dsada
    </div>
    <div
      class="hover:ak-layer-pop ak-layer-contrast-primary-down-2 ak-frame-xl/2"
    >
      dsada
    </div>
    <div
      class="hover:ak-layer-pop ak-layer-contrast-primary-down-3 ak-frame-xl/2"
    >
      dsada
    </div>
    <div
      class="hover:ak-layer-pop ak-layer-contrast-primary-down-4 ak-frame-xl/2"
    >
      dsada
    </div>
    <div
      class="hover:ak-layer-pop ak-layer-contrast-primary-down-5 ak-frame-xl/2"
    >
      dsada
    </div>
    <div
      class="hover:ak-layer-pop ak-layer-contrast-primary-down-6 ak-frame-xl/2"
    >
      dsada
    </div>
    <div class="hover:ak-layer-pop ak-layer-contrast ak-frame-xl/2">dsada</div>
  </div>
  <div class="ak-layer-[yellow] p-8">
    <div class="hover:ak-layer-pop ak-layer-contrast-[green] ak-frame-xl/2">
      dsada
    </div>
    <div class="hover:ak-layer-pop ak-layer-contrast-secondary ak-frame-xl/2">
      dsada
    </div>
    <div class="hover:ak-layer-pop ak-layer-contrast-primary ak-frame-xl/2">
      dsada
    </div>
    <div class="hover:ak-layer-pop ak-layer-contrast-primary-2 ak-frame-xl/2">
      dsada
    </div>
    <div
      class="hover:ak-layer-pop ak-layer-contrast-primary-down-1 ak-frame-xl/2"
    >
      dsada
    </div>
    <div
      class="hover:ak-layer-pop ak-layer-contrast-primary-down-2 ak-frame-xl/2"
    >
      dsada
    </div>
    <div
      class="hover:ak-layer-pop ak-layer-contrast-primary-down-3 ak-frame-xl/2"
    >
      dsada
    </div>
    <div
      class="hover:ak-layer-pop ak-layer-contrast-primary-down-4 ak-frame-xl/2"
    >
      dsada
    </div>
    <div
      class="hover:ak-layer-pop ak-layer-contrast-primary-down-5 ak-frame-xl/2"
    >
      dsada
    </div>
    <div
      class="hover:ak-layer-pop ak-layer-contrast-primary-down-6 ak-frame-xl/2"
    >
      dsada
    </div>
    <div class="hover:ak-layer-pop ak-layer-contrast ak-frame-xl/2">dsada</div>
  </div>
  <div class="ak-layer-current border-b-20 hover:ak-layer-10 p-2">
    <div class="ak-frame-xl/2 ak-layer-primary hover:ak-layer-pop">button</div>
    <div class="ak-layer ak-frame-container ring">
      <div class="ak-layer-down-1 ak-frame/2 border">
        dadsa
        <div class="ak-layer">dse2</div>
      </div>
    </div>
    <div class="ak-layer ak-frame-2xl/2 mt-10">
      <div class="ak-frame-xl/1 ak-layer-mix-primary-down-3">
        <div class="ak-frame-cover ak-layer">dsadas</div>
        <input class="ak-input" type="text" />
      </div>
    </div>
  </div>
  <div class="ak-layer-canvas p-2">
    <input
      class="w-[200px] mb-5"
      value="0"
      type="range"
      min="0"
      step="0.25"
      max="5"
      oninput="document.body.style.setProperty('--contrast', this.valueAsNumber)"
    />
    <div class="ak-layer ak-frame-2xl/(--pad,0px) ring">
      <button class="ak-layer-primary ak-frame-full/4 py-2 border"
        >Button</button
      >
      <div class="ak-frame-cover/2 ak-layer-current rounded-t-none border-t">
        cover
      </div>
    </div>

    <div
      class="ak-layer-[#fff] ak-dark:ak-layer-[#222] p-10 flex flex-wrap gap-2"
    >
      <div class="ak-layer-current ak-frame-3xl/4 grid gap-2 ring">
        <div class="ak-frame-xl/2 ak-edge/5 ring">ak-edge/5 ring</div>
        <div class="ak-frame-xl/2 ak-edge/5 border">ak-edge/5 border</div>
        <div class="ak-frame-xl/2 ak-edge-contrast ring">
          ak-edge-contrast ring
        </div>
        <div class="ak-frame-xl/2 ak-edge-contrast border">
          ak-edge-contrast border
        </div>
      </div>
      <div class="ak-layer-current ak-frame-3xl/4 grid gap-2 ring">
        <div class="ak-frame-xl/2 ak-layer ring">ring</div>
        <div class="ak-frame-xl/2 ak-layer border">border</div>
      </div>
      <div class="ak-layer-current ak-frame-3xl/4 grid gap-2 ring">
        <div class="ak-frame-xl/2 ak-layer ak-edge/20 ring">
          ak-edge/20 ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge/20 border">
          ak-edge/20 border
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast ring">
          ak-edge-contrast ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast border">
          ak-edge-contrast border
        </div>
      </div>
      <div class="ak-layer-current ak-frame-3xl/4 grid gap-2 ring">
        <div class="ak-frame-xl/2 ak-layer ak-edge/40 ring">
          ak-edge/40 ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge/40 border">
          ak-edge/40 border
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast ring">
          ak-edge-contrast ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast border">
          ak-edge-contrast border
        </div>
      </div>
      <div class="ak-layer-current ak-frame-3xl/4 grid gap-2 ring">
        <div class="ak-frame-xl/2 ak-layer ak-edge/80 ring">
          ak-edge/80 ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge/80 border">
          ak-edge/80 border
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast ring">
          ak-edge-contrast ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast border">
          ak-edge-contrast border
        </div>
      </div>
      <div class="ak-layer-current ak-frame-3xl/4 grid gap-2 ring">
        <div class="ak-frame-xl/2 ak-layer ak-edge/100 ring">
          ak-edge/100 ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge/100 border">
          ak-edge/100 border
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast ring">
          ak-edge-contrast ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast border">
          ak-edge-contrast border
        </div>
      </div>
      <div class="ak-layer-current ak-frame-3xl/4 grid gap-2 ring">
        <div class="ak-frame-xl/2 ak-layer ak-edge-7/100 ring">
          ak-edge-7/100 ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-7/100 border">
          ak-edge-7/100 border
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-7 ring">
          ak-edge-contrast-7 ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-7 border">
          ak-edge-contrast-7 border
        </div>
      </div>
      <div class="ak-layer-primary ak-frame-3xl/4 grid gap-2 ring">
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary ring">
          ak-edge-primary ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary border">
          ak-edge-primary border
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary ring">
          ak-edge-contrast-primary ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary border">
          ak-edge-contrast-primary border
        </div>
      </div>
      <div class="ak-layer-current ak-frame-3xl/4 grid gap-2 ring">
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary ring">
          ak-edge-primary ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary border">
          ak-edge-primary border
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary ring">
          ak-edge-contrast-primary ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary border">
          ak-edge-contrast-primary border
        </div>
      </div>
      <div class="ak-layer-current ak-frame-3xl/4 grid gap-2 ring">
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary/40 ring">
          ak-edge-primary/40 ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary/40 border">
          ak-edge-primary/40 border
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary ring">
          ak-edge-contrast-primary ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary border">
          ak-edge-contrast-primary border
        </div>
      </div>
      <div class="ak-layer-current ak-frame-3xl/4 grid gap-2 ring">
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary/80 ring">
          ak-edge-primary/80 ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary/80 border">
          ak-edge-primary/80 border
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary ring">
          ak-edge-contrast-primary ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary border">
          ak-edge-contrast-primary border
        </div>
      </div>
      <div class="ak-layer-current ak-frame-3xl/4 grid gap-2 ring">
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary/100 ring">
          ak-edge-primary/100 ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary/100 border">
          ak-edge-primary/100 border
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary ring">
          ak-edge-contrast-primary ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary border">
          ak-edge-contrast-primary border
        </div>
      </div>
      <div class="ak-layer-current ak-frame-3xl/4 grid gap-2 ring">
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary-2 ring">
          ak-edge-primary-2 ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary-2 border">
          ak-edge-primary-2 border
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary-2 ring">
          ak-edge-contrast-primary-2 ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary-2 border">
          ak-edge-contrast-primary-2 border
        </div>
      </div>
      <div class="ak-layer-current ak-frame-3xl/4 grid gap-2 ring">
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary-3/40 ring">
          ak-edge-primary-3/40 ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary-3/40 border">
          ak-edge-primary-3/40 border
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary-3 ring">
          ak-edge-contrast-primary-3 ring
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary-3 border">
          ak-edge-contrast-primary-3 border
        </div>
      </div>
      <div class="ak-layer-current ak-frame-3xl/4 grid gap-2 ring">
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary-12/5 ring-2">
          ak-edge-primary-12/5 ring-2
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-primary-12/5 border-2">
          ak-edge-primary-12/5 border-2
        </div>
        <div class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary-12 ring-2">
          ak-edge-contrast-primary-12 ring-2
        </div>
        <div
          class="ak-frame-xl/2 ak-layer ak-edge-contrast-primary-12 border-2"
        >
          ak-edge-contrast-primary-12 border-2
        </div>
      </div>
      <div class="ak-layer-current ak-frame-3xl/4 grid gap-2 ring">
        <div
          class="ak-frame-xl/2 !ak-edge-primary/40 ring ak-layer-contrast-[green] hover:ak-layer-pop-vivid-amber-400"
        >
          ring
        </div>
        <div
          class="ak-frame-xl/2 !ak-edge-primary/40 border ak-layer-contrast-[green] hover:ak-layer-pop-vivid-amber-400"
        >
          border
        </div>
        <div
          class="ak-frame-xl/2 !ak-edge-contrast-primary ring ak-layer-contrast-[green] hover:ak-layer-pop-vivid-amber-400"
        >
          ring
        </div>
        <div
          class="ak-frame-xl/2 !ak-edge-contrast-primary border ak-layer-contrast-[green] hover:ak-layer-pop-vivid-amber-400"
        >
          border
        </div>
      </div>
    </div>
  </div>
  <input class="ak-input" type="text" />
  <div class="ak-layer-canvas p-10 grid gap-4">
    <div
      class="ak-input"
      tabindex="-1"
      onfocus="this.querySelector('input').focus()"
    >
      <input type="text" class="field-sizing-content" />
    </div>
    <div class="ak-text-[#086fff] underline underline-offset-2">
      Review Cloudflare fundamentals
    </div>
    <div class="ak-layer ak-edge-shadow border ak-frame-container/4 grid gap-2">
      <div class="ak-layer ak-edge-shadow border ak-frame/2">dasdsa</div>
      <div class="ak-layer ak-edge-shadow-10/100 border ak-frame/2">dasdsa</div>
    </div>
    <div class="ak-layer ak-edge-shadow ring ak-frame-container/4 grid gap-2">
      <div class="ak-layer ak-edge-shadow ring ak-frame/2">dasdsa</div>
      <div class="ak-layer ak-edge-shadow-10/100 ring ak-frame/2">dasdsa</div>
    </div>
    <div class="ak-layer ak-frame-3xl/2 grid gap-3 border shadow-xl">
      <input class="ak-input" type="text" />
      <div class="flex justify-between items-center ps-4 pe-2 pt-2">
        <div class="text-xl font-semibold">Recommendations</div>
        <div class="ak-text-[#086fff] text-sm">Hide</div>
      </div>
      <div
        class="ak-layer-down ak-frame-lg/4 transition-all grid gap-4 border justify-items-start"
      >
        <div class="grid gap-2">
          <div class="font-semibold">Speed up your website or application</div>
          <div class="tracking-tight leading-tight">
            Turn on recommended image, content, and protocol settings.
          </div>
        </div>
        <input class="ak-input" type="text" placeholder="dasdsa" />
        <div
          class="ak-text-[#086fff] border-current border ak-frame-full/2 py-1 text-sm"
        >
          Go to speed optimization
        </div>
      </div>
    </div>
  </div>
  <div class="ak-layer-canvas p-8">
    <div
      class="ak-layer-feature ak-light:shadow-2xl ak-frame-xl/2 mb-8 max-w-[200px] h-[200px]"
    >
      dasdsa
    </div>
    <div class="ak-layer ak-frame-xl/2 mb-2">dasdsa</div>
    <div class="ak-layer-pop ak-frame-xl/2 mb-2">dasdsa</div>
    <div class="ak-frame-xl/1 shadow-xl ak-layer ring overflow-clip">
      <div class="overflow-y-auto ak-frame-cover grid gap-1">
        <div class="ak-frame-2xl/1 flex gap-1 items-center h-10 ak-layer-pop">
          <div
            class="ak-layer-down ak-frame-force-full border h-full aspect-square grid place-items-center"
          >
            A
          </div>
          <div class="ak-text-[red]">dsadsa</div>
        </div>
        <div class="ak-frame/2 ak-layer-current ring">
          <div class="ak-text-opacity">dse2</div>
        </div>
        <div class="ak-frame/2">
          <div class="ak-text-primary">dse2</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ak-layer-canvas p-8">
    <div class="ak-frame-xl/1 shadow-xl ak-layer ring overflow-clip">
      <div class="overflow-y-auto ak-frame-cover h-20 grid gap-1">
        <div
          class="ak-layer-3 ak-frame-2xl/1 flex gap-1 items-center h-10 border"
        >
          <div
            class="ak-layer-down ak-frame-force-full border h-full aspect-square grid place-items-center"
          >
            A
          </div>
          <div class="ak-text-[red]">dsadsa</div>
        </div>
        <div class="ak-frame/2 ak-layer border">
          <div class="ak-text-opacity">dse2</div>
        </div>
        <div class="ak-frame/2 ak-layer ring">
          <div class="ak-text-primary">dse2</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ak-layer-cyan-50 p-8">
    <div class="ak-frame-xl/1 shadow-xl ak-layer ring overflow-clip">
      <div class="overflow-y-auto ak-frame-cover h-20 grid gap-1">
        <div
          class="ak-layer ak-frame-2xl/1 flex gap-1 items-center h-10 border"
        >
          <div
            class="ak-layer-down ak-frame-force-full border h-full aspect-square grid place-items-center"
          >
            A
          </div>
          <div class="ak-text-[red]">dsadsa</div>
        </div>
        <div class="ak-frame/2 ak-layer border">
          <div class="ak-text-opacity">dse2</div>
        </div>
        <div class="ak-frame/2 ak-layer ring">
          <div class="ak-text-primary">dse2</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ak-layer-cyan-950 p-8">
    <div class="ak-frame-xl/1 shadow-xl ak-layer ring overflow-clip">
      <div class="overflow-y-auto ak-frame-cover h-20 grid gap-1">
        <div
          class="ak-layer ak-frame-2xl/1 flex gap-1 items-center h-10 border"
        >
          <div
            class="ak-layer-down ak-frame-force-full border h-full aspect-square grid place-items-center"
          >
            A
          </div>
          <div class="ak-text-[red]">dsadsa</div>
        </div>
        <div class="ak-frame/2 ak-layer border">
          <div class="ak-text-opacity">dse2</div>
        </div>
        <div class="ak-frame/2 ak-layer ring">
          <div class="ak-text-primary">dse2</div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="ak-layer-primary ak-frame-xl/2 m-2 flex gap-2">
      <div class="">auto</div>
      <div class="ak-text-[#569CD6]">lightblue</div>
      <div class="ak-text/80">text/80</div>
      <div class="ak-text/60">text/60</div>
      <div class="ak-text/40">text/40</div>
      <div class="ak-text-primary">brand</div>
      <div class="ak-text-[red]">red</div>
      <div class="ak-text-[blue]">blue</div>
      <div class="ak-text-[darkmagenta]">magenta</div>
      <div class="ak-text-[green]">green</div>
      <div class="ak-text-[yellow]">yellow</div>
    </div>
    <div class="ak-layer-[#707070] ak-frame-xl/2 m-2 flex gap-2">
      <div class="">auto</div>
      <div class="ak-text-[#569CD6]">lightblue</div>
      <div class="ak-text/80">text/80</div>
      <div class="ak-text/60">text/60</div>
      <div class="ak-text/40">text/40</div>
      <div class="ak-text-primary">brand</div>
      <div class="ak-text-[red]">red</div>
      <div class="ak-text-[blue]">blue</div>
      <div class="ak-text-[darkmagenta]">magenta</div>
      <div class="ak-text-[green]">green</div>
      <div class="ak-text-[yellow]">yellow</div>
    </div>
    <div class="ak-layer-[#000000] ak-frame-xl/2 m-2 flex gap-2">
      <div class="">auto</div>
      <div class="ak-text-[#569CD6]">lightblue</div>
      <div class="ak-text/80">text/80</div>
      <div class="ak-text/60">text/60</div>
      <div class="ak-text/40">text/40</div>
      <div class="ak-text-primary">brand</div>
      <div class="ak-text-[red]">red</div>
      <div class="ak-text-[blue]">blue</div>
      <div class="ak-text-[darkmagenta]">magenta</div>
      <div class="ak-text-[green]">green</div>
      <div class="ak-text-[yellow]">yellow</div>
    </div>
    <div class="ak-layer-secondary ak-frame-xl/2 m-2 flex gap-2">
      <div class="">auto</div>
      <div class="ak-text-[#569CD6]">lightblue</div>
      <div class="ak-text/80">text/80</div>
      <div class="ak-text/60">text/60</div>
      <div class="ak-text/40">text/40</div>
      <div class="ak-text-primary">brand</div>
      <div class="ak-text-[red]">red</div>
      <div class="ak-text-[blue]">blue</div>
      <div class="ak-text-[darkmagenta]">magenta</div>
      <div class="ak-text-[green]">green</div>
      <div class="ak-text-[yellow]">yellow</div>
    </div>
    <div class="ak-layer-[#fff] ak-frame-xl/2 m-2 flex gap-2">
      <div class="">auto</div>
      <div class="ak-text-[#569CD6]">lightblue</div>
      <div class="ak-text/80">text/80</div>
      <div class="ak-text/60">text/60</div>
      <div class="ak-text/40">text/40</div>
      <div class="ak-text-primary">brand</div>
      <div class="ak-text-[red]">red</div>
      <div class="ak-text-[blue]">blue</div>
      <div class="ak-text-[darkmagenta]">magenta</div>
      <div class="ak-text-[green]">green</div>
      <div class="ak-text-[yellow]">yellow</div>
    </div>
    <div class="ak-layer-[#808080] ak-frame-xl/2 m-2 flex gap-2">
      <div class="">auto</div>
      <div class="ak-text-[#569CD6]">lightblue</div>
      <div class="ak-text/80">text/80</div>
      <div class="ak-text/60">text/60</div>
      <div class="ak-text/40">text/40</div>
      <div class="ak-text-primary">brand</div>
      <div class="ak-text-[red]">red</div>
      <div class="ak-text-[blue]">blue</div>
      <div class="ak-text-[darkmagenta]">magenta</div>
      <div class="ak-text-[green]">green</div>
      <div class="ak-text-[yellow]">yellow</div>
    </div>
  </div>
  <div class="py-20 pb-100">
    <input type="color" />
    <input class="ak-input" type="text" class="appearance-auto" />
  </div>
</Layout>

<script>
  const colorInput = document.querySelector("input[type='color']");
  let ric = 0;
  colorInput?.addEventListener("input", (event) => {
    // @ts-expect-error
    const color = event.target?.value;
    cancelIdleCallback(ric);
    ric = requestIdleCallback(() => {
      document.body.style.setProperty("--color-canvas", color);
    });
  });
</script>
