---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="ak-layer-base border-b-2 hover:ak-layer-base-4 p-2">
    <div class="ak-layer-highlight p-2">
      <div class="ak-layer-down p-2">
        dadsa
      </div>
    </div>
  </div>
  <div class="ak-layer p-2">
    <div class="ak-layer-down p-2">dasdsa</div>
  </div>
</Layout>
