---
/**
 * @license
 * Copyright 2025-present Ariakit FZ-LLC. All Rights Reserved.
 *
 * This software is proprietary. See the license.md file in the root of this
 * package for licensing terms.
 *
 * SPDX-License-Identifier: UNLICENSED
 */
import BadgeAstro from "@ariakit/ui/html/badge.astro";
import { Badge } from "@ariakit/ui/html/badge.react.tsx";
import { Badge as BadgeSolid } from "@ariakit/ui/html/badge.solid.tsx";
import { Button } from "@ariakit/ui/html/button.solid.tsx";
import CheckboxCardCheck from "@ariakit/ui/html/checkbox-card-check.astro";
import CheckboxCard from "@ariakit/ui/html/checkbox-card.astro";
import { ChevronDownIcon, CircleCheckBigIcon, CopyIcon } from "@lucide/astro";
import Layout from "./_layout.astro";
---

<Layout>
  Soon

  <div class="flex gap-2 items-center p-2">
    <button class="ak-button-classic">Button</button>
    <Button $kind="classic">
      <CopyIcon slot="iconStart" />
      Button
    </Button>
    <Button>
      Button
      <ChevronDownIcon slot="icon" />
    </Button>
  </div>

  <div class="flex flex-wrap gap-2 items-center p-2">
    <CheckboxCard
      $size="sm"
      $frame="card"
      $gap="md"
      $color="ghost"
      $border={false}
      $depth={3}
    >
      <CheckboxCardCheck
        slot="checkEnd"
        $frame="auto"
        $size="sm"
        $color="pop"
        $border="contrast"
      />
      Do this?
      <span slot="description"
        >A nice description to test this<br />dsadsad</span
      >
      <CopyIcon slot="iconStart" class="" />
    </CheckboxCard>
    <Button>Button</Button>
    <Button $color="primary" $noEndGap>
      <CopyIcon slot="iconStart" />
      Button
      <ChevronDownIcon slot="iconEnd" />
    </Button>
    <Button $color="ghost" $border>Button</Button>
    <Button>
      <CopyIcon slot="iconStart" />
      Button
    </Button>
    <Button disabled>
      Button dhsajkdhk adsadsa
      <ChevronDownIcon slot="iconEnd" />
    </Button>
    <BadgeAstro class="bg-red-500!">
      <CopyIcon slot="iconStart" />
      Badge Astro
    </BadgeAstro>
    <BadgeSolid $color="danger" $size="lg">
      <CopyIcon slot="iconStart" />
      Badge Solid
    </BadgeSolid>
    <BadgeSolid $color="danger" $size="lg">
      <!-- <CopyIcon slot="iconStart" /> -->
      Badge Solid
      <CopyIcon slot="iconEnd" />
    </BadgeSolid>
    <Badge>Badge</Badge>

    <Badge $color="primary" $border> Badge Border</Badge>
    <Badge>
      <CopyIcon slot="iconStart" />
      Badge<br />dsadsa
    </Badge>
    <Badge $color="secondary">
      <CopyIcon slot="iconStart" />
      Badge
    </Badge>
    <Badge $color="secondary" className="border-dashed">
      <div class="size-full bg-blue-500 rounded-full" slot="iconStart"></div>
      Plus
    </Badge>
    <Badge $color="success">Badge</Badge>
    <Badge $color="warning">Badge</Badge>
    <Badge $color="danger">Badge</Badge>
  </div>
  <div
    class="grid grid-cols-2 gap-14 w-max p-40 place-content-center place-items-center mt-20"
  >
    <Badge $color="success" className="bg-green-800">
      <span class="text-white">Success</span>
    </Badge>
    <Badge $color="success">
      <span class="text-white">Success</span>
    </Badge>
    <Badge $color="success" className="max-w-40" $truncate>
      <CircleCheckBigIcon slot="iconStart" />
      Success dhsakjdh ajks dsahk dsahk dhsakj
    </Badge>
    <Badge $color="success">Success</Badge>
    <Badge $color="success">
      <CircleCheckBigIcon slot="iconStart" />
      Success
    </Badge>
  </div>
</Layout>
