---
/**
 * @license
 * Copyright 2025-present Ariakit FZ-LLC. All Rights Reserved.
 *
 * This software is proprietary. See the license.md file in the root of this
 * package for licensing terms.
 *
 * SPDX-License-Identifier: UNLICENSED
 */
import CanvasColorPicker from "#app/components/canvas-color-picker.astro";
import CodeBlockTabs from "#app/components/code-block-tabs.astro";
import CodeBlock from "#app/components/code-block.astro";
import example from "#app/components/copy-code.react?raw";
import { Playground as PlaygroundClient } from "#app/components/playground.react.tsx";
import Layout from "./_layout.astro";
---

<Layout>
  <CanvasColorPicker />

  <div class="ak-segmented m-2 w-80 grid grid-flow-col text-sm">
    <label class="ak-segmented-button">
      <input name="test" type="radio" />
      Button
    </label>
    <label class="ak-segmented-button">
      <input name="test" type="radio" />
      Button
    </label>
    <label class="ak-segmented-button">
      <input name="test" type="radio" />
      Button
    </label>
  </div>
  <div class="ak-segmented m-2 w-max">
    <label class="ak-segmented-button">
      <input name="test" type="radio" />
      Button
    </label>
    <label class="ak-segmented-button">
      <input name="test" type="radio" checked />
      Button
    </label>
    <label class="ak-segmented-button">
      <input name="test" type="radio" />
      Button
    </label>
  </div>
  <div class="ak-segmented m-2 w-max ring ak-frame-container/0">
    <label class="ak-segmented-button">
      <input name="test" type="radio" />
      Button
    </label>
    <label class="ak-segmented-button">
      <input name="test" type="radio" checked />
      Button
    </label>
    <label class="ak-segmented-button">
      <input name="test" type="radio" />
      Button
    </label>
  </div>

  <div class="my-20">
    <CodeBlockTabs
      tabs={[
        {
          filename: "index.tsx",
          filenameIcon: "react",
          lineNumbers: true,
          maxLines: 17,
          code: `import { useState } from "react";

function App() {
  const [count, setCount] = useState(0);
  return <div>Hello World</div>;
}

export default App;`,
        },
        {
          filename: "component.jsx",
          filenameIcon: "js",
          lineNumbers: true,
          maxLines: 17,
          code: `export default function Component() {
  return <div>Hello World</div>;
}`,
        },
        {
          filename: "styles.css",
          filenameIcon: "tailwind",
          lineNumbers: true,
          maxLines: 17,
          code: `@import "tailwindcss";
@import "@ariakit/tailwind";`,
        },
      ]}
    />
  </div>
  <div class="flex flex-wrap gap-2 p-2 *:h-10">
    <button class="ak-button ak-layer">button</button>
    <button class="ak-button ak-layer" disabled>button</button>
    <button class="ak-button-classic ak-layer _!h-40 _text-7xl">Open</button>
    <div class="ak-button-classic_idle ak-layer">idle</div>
    <div class="base:ak-button-classic_idle ak-button-classic_hover ak-layer">
      hover
    </div>
    <div class="base:ak-button-classic_idle ak-button-classic_active ak-layer">
      active
    </div>
    <div class="base:ak-button-classic_idle ak-button-classic_focus ak-layer">
      focus
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_disabled base:ak-layer"
    >
      disabled
    </div>
  </div>

  <div class="flex flex-wrap gap-2 p-2 *:h-10">
    <button class="ak-button ak-layer-contrast">button</button>
    <button class="ak-button-classic ak-layer-contrast">button</button>
    <div class="ak-button-classic_idle ak-layer-contrast">idle</div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_hover ak-layer-contrast"
    >
      hover
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_active ak-layer-contrast"
    >
      active
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_focus ak-layer-contrast"
    >
      focus
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_disabled base:ak-layer-contrast"
    >
      disabled
    </div>
  </div>
  <div class="flex flex-wrap gap-2 p-2 *:h-10">
    <button class="ak-button ak-layer-contrast-primary">button</button>
    <button class="ak-button-classic ak-layer-contrast-primary">button</button>
    <div class="ak-button-classic_idle ak-layer-contrast-primary">idle</div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_hover ak-layer-contrast-primary"
    >
      hover
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_active ak-layer-contrast-primary"
    >
      active
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_focus ak-layer-contrast-primary"
    >
      focus
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_disabled base:ak-layer-contrast-primary"
    >
      disabled
    </div>
  </div>
  <div class="flex flex-wrap gap-2 p-2 *:h-10">
    <button class="ak-button ak-layer-contrast-secondary">button</button>
    <button class="ak-button-classic ak-layer-contrast-secondary">button</button
    >
    <div class="ak-button-classic_idle ak-layer-contrast-secondary">idle</div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_hover ak-layer-contrast-secondary"
    >
      hover
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_active ak-layer-contrast-secondary"
    >
      active
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_focus ak-layer-contrast-secondary"
    >
      focus
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_disabled base:ak-layer-contrast-secondary"
    >
      disabled
    </div>
  </div>
  <div class="flex flex-wrap gap-2 p-2 *:h-10">
    <button class="ak-button ak-layer-black">button</button>
    <button class="ak-button-classic ak-layer-black">button</button>
    <div class="ak-button-classic_idle ak-layer-black">idle</div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_hover ak-layer-black"
    >
      hover
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_active ak-layer-black"
    >
      active
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_focus ak-layer-black"
    >
      focus
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_disabled base:ak-layer-black"
    >
      disabled
    </div>
  </div>
  <div class="flex flex-wrap gap-2 p-2 *:h-10">
    <button class="ak-button-classic ak-layer-white">button</button>
    <div class="ak-button-classic_idle ak-layer-white">idle</div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_hover ak-layer-white"
    >
      hover
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_active ak-layer-white"
    >
      active
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_focus ak-layer-white"
    >
      focus
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_disabled base:ak-layer-white"
    >
      disabled
    </div>
  </div>
  <div class="flex flex-wrap gap-2 p-2 *:h-10">
    <button class="ak-button">button</button>
    <div class="ak-button_idle">idle</div>
    <div class="base:ak-button_idle ak-button_hover">hover</div>
    <div class="base:ak-button_idle ak-button_focus">focus</div>
    <div class="base:ak-button_idle ak-button_active">active</div>
    <div class="base:ak-button_idle ak-button_disabled">disabled</div>
  </div>

  <CodeBlockTabs
    persistTabKey="package-manager"
    tabs={[
      {
        filename: "npm",
        filenameIcon: "npm",
        lang: "bash",
        code: "npm install @ariakit/tailwind",
      },
      {
        filename: "pnpm",
        filenameIcon: "pnpm",
        lang: "bash",
        code: "pnpm add @ariakit/tailwind",
      },
      {
        filename: "yarn",
        filenameIcon: "yarn",
        lang: "bash",
        code: "yarn add @ariakit/tailwind",
      },
      {
        filename: "bun",
        filenameIcon: "bun",
        lang: "bash",
        code: "bun add @ariakit/tailwind",
      },
    ]}
  />

  <PlaygroundClient client:load>
    <CodeBlock
      filename="file.tsx"
      filenameIcon="react"
      showFilename
      code={example}
    />
    <CodeBlock
      lang="tsx"
      code={example}
      highlightLines={[3]}
      lineNumbers
      maxLines={17}
    />
    <CodeBlock
      lang="tsx"
      code={example}
      highlightLines={[3]}
      highlightTokens={["orientation", "Example"]}
    />
    <CodeBlock
      code={"dssdsa"}
      lineNumbers
      highlightLines={[3]}
      highlightTokens={[
        "Separator",
        "Example",
        "ak-layer-current",
        "@ariakit/react",
      ]}
    />
  </PlaygroundClient>
</Layout>
