---
import CanvasColorPicker from "../components/canvas-color-picker.astro";
import CodeBlock from "../components/code-block.astro";
import Layout from "../layouts/Layout.astro";
import { Playground as PlaygroundClient } from "../components/playground.react.tsx";
import CodeBlockTabs from "../components/code-block-tabs.astro";
import example from "../components/copy-to-clipboard.react?raw";

const jsCode = `console.log("Hello from JavaScript!");
const message = "This is a JavaScript example";
alert(message);

function greet(name) {
  return "Hello, " + name + "!";
}
console.log(greet("World"));`;

const pyCode = `print("Hello from Python!")
message = "This is a Python example"
print(message)`;

const tsCode = `interface Example {
  name: string;
  value: number;
}

const example: Example = {
  name: "TypeScript",
  value: 42
};

console.log(example);`;
---

<Layout>
  <CanvasColorPicker />

  <CodeBlockTabs
    tabs={[
      {
        code: tsCode,
        filename: "example.ts",
        filenameIcon: "react",
        lang: "ts",
        lineNumbers: true,
        maxLines: 20,
      },
      {
        code: jsCode,
        filename: "example.js",
        filenameIcon: "npm",
        lang: "js",
        lineNumbers: true,
        maxLines: 5,
      },
      {
        code: pyCode,
        filename: "example.py",
        lang: "python",
        lineNumbers: true,
        highlightLines: [1, 2, 3, 4],
        maxLines: 5,
      },
    ]}
  />
  <div class="flex flex-wrap gap-2 p-2 *:h-10">
    <button class="ak-button ak-layer">button</button>
    <button class="ak-button ak-layer" disabled>button</button>
    <button class="ak-button-classic ak-layer _!h-40 _text-7xl">Open</button>
    <div class="ak-button-classic_idle ak-layer">idle</div>
    <div class="base:ak-button-classic_idle ak-button-classic_hover ak-layer">
      hover
    </div>
    <div class="base:ak-button-classic_idle ak-button-classic_active ak-layer">
      active
    </div>
    <div class="base:ak-button-classic_idle ak-button-classic_focus ak-layer">
      focus
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_disabled base:ak-layer"
    >
      disabled
    </div>
  </div>
  <div class="flex flex-wrap gap-2 p-2 *:h-10">
    <button class="ak-button ak-layer-contrast">button</button>
    <button class="ak-button-classic ak-layer-contrast">button</button>
    <div class="ak-button-classic_idle ak-layer-contrast">idle</div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_hover ak-layer-contrast"
    >
      hover
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_active ak-layer-contrast"
    >
      active
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_focus ak-layer-contrast"
    >
      focus
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_disabled base:ak-layer-contrast"
    >
      disabled
    </div>
  </div>
  <div class="flex flex-wrap gap-2 p-2 *:h-10">
    <button class="ak-button ak-layer-contrast-primary">button</button>
    <button class="ak-button-classic ak-layer-contrast-primary">button</button>
    <div class="ak-button-classic_idle ak-layer-contrast-primary">idle</div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_hover ak-layer-contrast-primary"
    >
      hover
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_active ak-layer-contrast-primary"
    >
      active
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_focus ak-layer-contrast-primary"
    >
      focus
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_disabled base:ak-layer-contrast-primary"
    >
      disabled
    </div>
  </div>
  <div class="flex flex-wrap gap-2 p-2 *:h-10">
    <button class="ak-button ak-layer-contrast-secondary">button</button>
    <button class="ak-button-classic ak-layer-contrast-secondary">button</button
    >
    <div class="ak-button-classic_idle ak-layer-contrast-secondary">idle</div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_hover ak-layer-contrast-secondary"
    >
      hover
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_active ak-layer-contrast-secondary"
    >
      active
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_focus ak-layer-contrast-secondary"
    >
      focus
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_disabled base:ak-layer-contrast-secondary"
    >
      disabled
    </div>
  </div>
  <div class="flex flex-wrap gap-2 p-2 *:h-10">
    <button class="ak-button ak-layer-[#000]">button</button>
    <button class="ak-button-classic ak-layer-[#000]">button</button>
    <div class="ak-button-classic_idle ak-layer-[#000]">idle</div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_hover ak-layer-[#000]"
    >
      hover
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_active ak-layer-[#000]"
    >
      active
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_focus ak-layer-[#000]"
    >
      focus
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_disabled base:ak-layer-[#000]"
    >
      disabled
    </div>
  </div>
  <div class="flex flex-wrap gap-2 p-2 *:h-10">
    <button class="ak-button-classic ak-layer-[#fff]">button</button>
    <div class="ak-button-classic_idle ak-layer-[#fff]">idle</div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_hover ak-layer-[#fff]"
    >
      hover
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_active ak-layer-[#fff]"
    >
      active
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_focus ak-layer-[#fff]"
    >
      focus
    </div>
    <div
      class="base:ak-button-classic_idle ak-button-classic_disabled base:ak-layer-[#fff]"
    >
      disabled
    </div>
  </div>
  <div class="flex flex-wrap gap-2 p-2 *:h-10">
    <button class="ak-button">button</button>
    <div class="ak-button_idle">idle</div>
    <div class="base:ak-button_idle ak-button_hover">hover</div>
    <div class="base:ak-button_idle ak-button_focus">focus</div>
    <div class="base:ak-button_idle ak-button_active">active</div>
    <div class="base:ak-button_idle ak-button_disabled">disabled</div>
  </div>
  <PlaygroundClient client:load>
    <CodeBlock
      filename="file.tsx"
      filenameIcon="react"
      showFilename
      code={example}
    />
    <CodeBlock
      lang="tsx"
      code={example}
      highlightLines={[3]}
      lineNumbers
      maxLines={17}
    />
    <CodeBlock
      lang="tsx"
      code={example}
      highlightLines={[3]}
      highlightTokens={["orientation", "Example"]}
    />
    <CodeBlock
      code={"dssdsa"}
      lineNumbers
      highlightLines={[3]}
      highlightTokens={[
        "Separator",
        "Example",
        "ak-layer-current",
        "@ariakit/react",
      ]}
    />
  </PlaygroundClient>
</Layout>
