.wrapper {
  @apply
    w-[min(500px,100%)]
    rounded-lg
    bg-white
    dark:bg-gray-700
    [box-shadow:0_1px_3px_0_rgb(0_0_0/0.1),0_1px_2px_-1px_rgb(0_0_0/0.1)]
    dark:[box-shadow:0_1px_3px_0_rgb(0_0_0/0.25),0_1px_2px_-1px_rgb(0_0_0_/0.1)]
}

.button {
  @apply
    flex
    items-center
    px-4
    h-14
    w-full
    text-left
    cursor-pointer
    text-lg
    font-medium
    rounded-lg
    underline-offset-2
    hover:underline
    data-[focus-visible]:outline
    outline-2
    -outline-offset-2
    outline-blue-600
    justify-between
    [&>svg]:transition-[rotate]
    [&>svg]:aria-expanded:[rotate:180deg]
}

.content-wrapper {
  @apply
    grid
    grid-rows-[0fr]
    transition-[grid-template-rows]
    duration-200
    data-[enter]:grid-rows-[1fr]
    *:overflow-hidden
    *:p-0
}

.content {
  @apply
    p-4
    pt-0
}
