.playgroundEditor {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  max-height: min(max(calc(100vh - 640px), 480px), 800px);
  @apply bg-canvas-1;
}

:global(.dark) .playgroundEditor {
  @apply bg-canvas-1-dark;
}

.playgroundEditor :global(.cm-scroller) {
  @apply !pt-2;
}
