@import "../dialog/style.css";

.dialog {
  @apply
    gap-0
    sm:p-4
  ;
}

.form {
  @apply
    flex
    flex-col
    gap-4
  ;
}

.input {
  @apply
    block
    p-4
    w-full
    text-base
    rounded-md
    border-none
    placeholder-black/60
    dark:placeholder-white/[46%]
    text-black
    dark:text-white
    bg-gray-150/40
    dark:bg-gray-850
    hover:bg-gray-150
    dark:hover:bg-gray-900
    shadow-input
    dark:shadow-input-dark
    focus-visible:ariakit-outline-input
  ;
}

.dismiss {
  @apply
    w-10
    h-10
    p-0
    [transform:translate(-8px,-8px)]
  ;
}
