@import "../dialog/style.css";

.dialog {
  @apply gap-0 sm:p-4;
}

.form {
  @apply flex flex-col gap-4;
}

.input {
  @apply
    block
    p-4
    w-full
    text-base
    rounded-md
    border-none
    placeholder-black/60
    dark:placeholder-white/[46%]
    text-canvas-1
    dark:text-canvas-1-dark
    bg-canvas-1/40
    dark:bg-canvas-1-dark
    hover:bg-canvas-1
    dark:hover:bg-canvas-1-dark-hover
    shadow-input
    dark:shadow-input-dark
    focus-visible:ariakit-outline-input;
}

.dismiss {
  @apply
    [transform:translate(-8px,-8px)]
    w-10
    h-10
    p-0;
}
