---
import sourceReact from "./index.react.tsx?source";
import sourceSolid from "./index.solid.tsx?source";

export const source = {
  react: sourceReact,
  solid: sourceSolid,
};
---

<div class="ak-layer ak-frame-container/4 grid gap-2 shadow">
  <span>Item</span>
  <div class="ak-separator ak-layer-current"></div>
  <span>Item</span>
</div>
