@import url("../../../button/__examples__/button/style.css");

.toolbar {
  @apply
    flex
    gap-1
    border
    p-1
    rounded
    border-alpha-1
    flex-row
    w-fit
    items-center
    bg-canvas-4
    dark:bg-canvas-4-dark
  ;
}

.button {
  @apply
    bg-canvas-4
    text-canvas-2
    hover:bg-canvas-4-hover
    dark:hover:bg-canvas-4-dark-hover
    dark:bg-canvas-4-dark
    text-sm
  ;
}

.button svg {
  @apply sm:block hidden;
}

.toolbar-separator {
  @apply hidden sm:block lg:mx-4 w-px h-7 bg-canvas-1-border text-canvas-2-dark;
}
