---
import "@fontsource-variable/inter";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Ariakit</title>
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
