@import url("../../../button/__examples__/button/style.css");

.popover {
  max-width: min(calc(100vw - 16px), 320px);
  @apply
    z-50
    flex
  flex-col
  gap-4
  rounded-lg
  border
  border-solid
  p-4
  border-canvas-4
  bg-canvas-4
  text-canvas-4
  drop-shadow
  focus-visible:ariakit-outline
  dark:border-canvas-4-dark
  dark:bg-canvas-4-dark
  dark:text-canvas-4-dark
  dark:drop-shadow-dark;
}

.arrow svg {
  @apply
    fill-canvas-4
    stroke-canvas-4
  dark:fill-canvas-4-dark
  dark:stroke-canvas-4-dark;
}

.heading {
  @apply m-0 text-xl font-medium;
}
