@import url("../button/style.css");

.button {
  @apply
    text-blue-900
    bg-blue-200/40
    hover:bg-blue-200/60
    dark:text-blue-100
    dark:bg-blue-600/25
    dark:hover:bg-blue-600/40
    aria-checked:text-white
    aria-checked:bg-blue-600
    aria-checked:hover:bg-blue-800
    dark:aria-checked:text-white
    dark:aria-checked:bg-blue-600
    dark:aria-checked:hover:bg-blue-800
  ;
}
