@import "../select/style.css";

.input {
  @apply
    h-10
    w-[200px]
    rounded-lg
    border-none
    px-4
    text-base
    focus-visible:ariakit-outline-input
    bg-canvas-1
    text-canvas-1
    hover:bg-canvas-1-hover
    dark:bg-canvas-1-dark
    dark:text-canvas-1-dark
    dark:hover:bg-canvas-1-dark-hover
  ;
}

.select {
  @apply
    [&[data-autofill]]:bg-[rgb(219_237_255)]
    [&[data-autofill]]:dark:bg-[rgb(36_107_179)]
  ;
}
