@import url("../combobox/style.css");
@import url("../../../button/__examples__/button/style.css");

.combobox {
  width: 380px;
  @apply h-auto p-2;
}

.combobox-description {
  @apply opacity-75;
}

.popover {
  min-width: 180px;
  max-width: 280px;
  max-height: min(var(--popover-available-height, 186px), 186px);
  @apply p-1 rounded-md;
}

.combobox-item {
  @apply py-1 scroll-m-1;
}

.combobox-item > span {
  @apply
    text-ellipsis
    overflow-hidden
    whitespace-nowrap;
}
