---
/**
 * @license
 * Copyright 2025-present Ariakit FZ-LLC. All Rights Reserved.
 *
 * This software is proprietary. See the license.md file in the root of this
 * package for licensing terms.
 *
 * SPDX-License-Identifier: UNLICENSED
 */
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  /**
   * When true, sets `aria-current="page"` for the current chip link.
   */
  current?: boolean;
}

const { current, ...props } = Astro.props as Props;
const ariaCurrent = current ? "page" : undefined;
---

<a
  aria-current={ariaCurrent}
  class:list={[
    "ak-button ak-layer-pop text-sm aria-[current]:ak-layer-pop-12 rounded-full ak-frame-field/1 scroll-m-4 gap-0",
    props.class,
  ]}
  {...props}
>
  <span class="px-2">
    <slot />
  </span>
  {
    Astro.slots.has("badge") && (
      <span class="-ms-0.5 ak-text/0 rounded-full ak-edge/0 ring px-1.5 ak-layer-pop min-w-(--ak-button-leading) text-center in-aria-[current]:ak-layer-pop-3">
        <slot name="badge" />
      </span>
    )
  }
</a>
