---
import type { ComponentProps } from "astro/types";
import Icon from "../icons/icon.astro";
import CodeBlockContainer from "./code-block-container.astro";
import CodeBlockContent from "./code-block-content.astro";

interface Props
  extends ComponentProps<typeof CodeBlockContainer>,
    ComponentProps<typeof CodeBlockContent> {}

const { filename, filenameIcon, showFilename } = Astro.props;
---

<CodeBlockContainer {...Astro.props}>
  {
    showFilename && (
      <div class="ak-tab-list text-sm">
        <div class="base:ak-tab-folder_idle ak-tab-folder_selected select-auto cursor-auto">
          <div class="py-1">
            {filenameIcon && <Icon name={filenameIcon} />}
            {filename}
          </div>
        </div>
      </div>
    )
  }
  <CodeBlockContent class="ak-tab-panel" {...Astro.props} />
</CodeBlockContainer>
