---
import type { HTMLAttributes } from "astro/types";
import Icon from "../icons/icon.astro";

interface Props extends HTMLAttributes<"div"> {}

const { ...htmlProps } = Astro.props;
---

<button
  data-expand
  is="code-block-expand"
  class:list={[
    "absolute group/expand grid outline-none not-in-data-collapsed:hidden ak-frame-cover/4 py-2 inset-0 ak-layer-current bg-transparent bg-gradient-to-b from-transparent from-[calc(100%-8rem)] to-[calc(100%-0.5rem)] to-(--ak-layer) z-1 justify-center items-end",
    htmlProps.class,
  ]}
  {...htmlProps}
>
  <div
    class="ak-button h-9 ak-layer-current text-sm/[1.5rem] border ak-dark:shadow group-hover/expand:ak-button_hover hover:ak-layer-pop-[1.5] group-focus-visible/expand:ak-button_focus group-active/expand:ak-button_active"
  >
    Expand code
    <Icon class="text-base" name="chevronDown" />
  </div>
</button>
