---
/**
 * @license
 * Copyright 2025-present Ariakit FZ-LLC. All Rights Reserved.
 *
 * This software is proprietary. See the license.md file in the root of this
 * package for licensing terms.
 *
 * SPDX-License-Identifier: UNLICENSED
 */
import { Icon } from "#app/icons/icon.react.tsx";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  direction: "left" | "right";
}

const { direction, ...props } = Astro.props;
---

<button
  class:list={[
    "group/scroll-button h-full items-center justify-end from-(--ak-layer) from-70% to-transparent px-3 absolute top-0 z-10 hidden @3xl:flex",
    direction === "left"
      ? "bg-linear-to-r start-0 pe-6"
      : "bg-linear-to-l end-0 ps-6",
    props.class,
  ]}
  {...props}
  aria-label={`Scroll ${direction}`}
>
  <div
    class="ak-button ak-button-square size-8 rounded-full ak-layer pointer-events-auto border shadow group-hover/scroll-button:ak-button_hover group-active/scroll-button:ak-button_active"
  >
    <slot>
      <Icon name={direction === "left" ? "chevronLeft" : "chevronRight"} />
    </slot>
  </div>
</button>
