---
/**
 * @license
 * Copyright 2025-present Ariakit FZ-LLC. All Rights Reserved.
 *
 * This software is proprietary. See the license.md file in the root of this
 * package for licensing terms.
 *
 * SPDX-License-Identifier: UNLICENSED
 */
import type { HTMLAttributes } from "astro/types";
import CodeBlockContent from "./code-block-content.astro";

interface Props extends HTMLAttributes<"div"> {
  code: string;
  grammarContextCode?: string;
}

const { code, grammarContextCode, ...props } = Astro.props;
---

<div
  class:list={[
    "ak-frame-md ak-frame-border ak-dark:ak-edge/0 ak-layer overflow-x-auto text-sm/normal [scrollbar-width:none]",
    props.class,
  ]}
  {...props}
>
  <pre
    class="ak-frame-field/[--spacing(0.75)] *:*:*:px-1!"><CodeBlockContent lang="typescript" code={code} grammarContextCode={grammarContextCode} /></pre>
</div>
