.wrapper {
  @apply
    flex
    flex-col
    p-2
    gap-2
    rounded-lg
    bg-white
    dark:bg-gray-700
    shadow
    dark:shadow-dark
  ;
}

.tab-list {
  @apply
    flex
    gap-2
  ;
}

.tab {
  @apply
    flex
    h-10
    items-center
    justify-center
    gap-2
    rounded
    border-none
    px-4
    text-base
    select-none
    no-underline
    whitespace-nowrap
    aria-disabled:opacity-50
    active:pt-0.5
    hover:bg-black/[7.5%]
    dark:hover:bg-white/10
    aria-selected:bg-blue-600
    aria-selected:text-white
    aria-selected:hover:bg-blue-800
    dark:aria-selected:bg-blue-600
    dark:aria-selected:text-white
    dark:aria-selected:hover:bg-blue-800
    outline-2
    outline-offset-2
    outline-blue-600
    data-[focus-visible]:outline
  ;
}

.panels {
  @apply
    p-2
  ;
}
