---
/**
 * @license
 * Copyright 2025-present Ariakit FZ-LLC. All Rights Reserved.
 *
 * This software is proprietary. See the license.md file in the root of this
 * package for licensing terms.
 *
 * SPDX-License-Identifier: UNLICENSED
 */
import { getPlusCheckoutPath } from "#app/lib/url.ts";
import Layout from "#app/pages/_layout.astro";
---

<Layout>
  <h1>Plus</h1>
  <a href={getPlusCheckoutPath({ redirectUrl: Astro.url })} data-astro-reload
    >Checkout</a
  >
</Layout>
