.button {
  @apply
    flex
    items-center
    justify-center
    gap-2
    text-base
    cursor-pointer
    border-none
    rounded-lg
    px-4
    h-10
    bg-alpha-2
    text-alpha-2
    hover:bg-alpha-2-hover
    dark:bg-alpha-2-dark
    dark:text-alpha-2-dark
    dark:hover:bg-alpha-2-dark-hover
    focus-visible:ariakit-outline
    aria-disabled:opacity-50;
}

.tooltip {
  @apply
    py-1
    px-2
    text-sm
    rounded-md
    drop-shadow-sm
    dark:drop-shadow-sm-dark
    border
    border-canvas-1
    dark:border-canvas-4-dark
    bg-canvas-1
    dark:bg-canvas-4-dark
    text-canvas-1
    dark:text-canvas-4-dark;
}
