@import "../../../button/__examples__/button/style.css";

.button {
  @apply
    /* Unchecked */
    bg-primary-1
    text-primary-1
    hover:bg-primary-1-hover
    /* Dark Unchecked */
    dark:bg-primary-1-dark
    dark:text-primary-1-dark
    dark:hover:bg-primary-1-dark-hover
    /* Checked */
    aria-checked:bg-primary-2
    aria-checked:text-primary-2
    aria-checked:hover:bg-primary-2-hover
    /* Dark Checked */
    dark:aria-checked:bg-primary-2-dark
    dark:aria-checked:text-primary-2-dark
    dark:aria-checked:hover:bg-primary-2-dark-hover;
}
