@import url("../menu-combobox/style.css");

.menu {
  @apply
    overflow-visible
  ;
}

.menu:not(:focus) .menu-item:not(:focus)[aria-expanded="true"] {
  @apply
    text-current
    bg-black/10
    dark:bg-white/10
  ;
}

.menu-item .label {
  @apply
    flex-1
  ;
}
