name: apply-generated-changes

on:
  workflow_run:
    workflows: ["og-images", "build-styles"]
    types:
      - completed

permissions:
  actions: read
  contents: write

jobs:
  update:
    name: Update PR
    runs-on: ubuntu-latest
    if: >
      github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Determine patch file
        id: patch
        run: |
          if [ -f "og-images-diff/og-images.patch" ]; then
            echo "file=og-images-diff/og-images.patch" >> $GITHUB_OUTPUT
            echo "message=Update OG images" >> $GITHUB_OUTPUT
          elif [ -f "build-styles-diff/build-styles.patch" ]; then
            echo "file=build-styles-diff/build-styles.patch" >> $GITHUB_OUTPUT
            echo "message=Update styles" >> $GITHUB_OUTPUT
          fi

      - name: Checkout PR
        if: steps.patch.outputs.file
        uses: actions/checkout@v5
        with:
          repository: ${{ github.event.workflow_run.head_repository.full_name }}
          ref: ${{ github.event.workflow_run.head_branch }}
          token: ${{ secrets.ARIAKIT_BOT_PAT }}

      - name: Apply patch
        if: steps.patch.outputs.file
        run: |
          git apply ${{ steps.patch.outputs.file }}

      - name: Commit changes
        if: steps.patch.outputs.file
        uses: ./.github/workflows/commit-or-pr
        with:
          event: pull_request
          message: ${{ steps.patch.outputs.message }}
          head-branch: ${{ github.event.workflow_run.head_branch }}
          new-branch: ignore
          token: ${{ secrets.ARIAKIT_BOT_PAT }}
