name: build-styles

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  generate:
    name: Build styles
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Build styles
        run: npm run build-styles -w site

      - name: Generate patch or commit
        uses: ./.github/workflows/patch-or-commit
        with:
          message: Update styles
          new-branch: chore/update-styles
          patch-file: build-styles.patch
          patch-name: build-styles-diff
          token: ${{ secrets.ARIAKIT_BOT_PAT }}
