name: main

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read

jobs:
  install:
    name: Install node modules
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install node modules
        uses: ./.github/workflows/install-node-modules
        with:
          cache-npm: true

  lint:
    name: Lint
    needs: install
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install node modules
        uses: ./.github/workflows/install-node-modules

      - name: Lint
        run: npm run lint

      - name: Lint CSS
        run: npm run lint-css

  typescript:
    name: Type check
    needs: install
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install node modules
        uses: ./.github/workflows/install-node-modules

      - name: Type check
        run: npm run tsc

  build:
    name: Build packages
    needs: install
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install node modules
        uses: ./.github/workflows/install-node-modules

      - name: Build
        run: npm run build

  test:
    name: Test (${{ matrix.shard }})
    needs: install
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        shard: ["1/2", "2/2"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install node modules
        uses: ./.github/workflows/install-node-modules

      - name: Test
        run: npm test -- --shard ${{ matrix.shard }}

  react17:
    name: Test React 17 (${{ matrix.shard }})
    needs: install
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        shard: ["1/2", "2/2"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install node modules
        uses: ./.github/workflows/install-node-modules

      - name: Install React 17
        run: npm run react17

      - name: Test
        run: npm test -- --shard ${{ matrix.shard }}

  website:
    name: Build website
    needs: install
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install node modules
        uses: ./.github/workflows/install-node-modules

      - name: Build website
        run: npm run build-website-lite

      - name: Upload website artifact
        uses: actions/upload-artifact@v6
        with:
          name: website-dist
          path: website/.next
          retention-days: 7
          include-hidden-files: true

  test-chrome:
    name: Test ${{ matrix.name }}
    needs: website
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Chrome
            engine: chromium
            project: chrome
          - name: Android
            engine: chromium
            project: android
          - name: Firefox
            engine: firefox
            project: firefox
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Install node modules
        uses: ./.github/workflows/install-node-modules

      - name: Install Playwright
        uses: ./.github/workflows/install-playwright
        with:
          engine: ${{ matrix.engine }}

      - name: Download website artifact
        uses: actions/download-artifact@v7
        with:
          name: website-dist
          path: website/.next

      - name: Test
        id: test
        run: xvfb-run npm run playwright -- --project ${{ matrix.project }}

      - name: Upload test results to GitHub
        if: failure() && steps.test.outcome == 'failure'
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.project }}-test-results
          path: test-results
          retention-days: 30

  test-macos:
    name: Test macOS
    needs: website
    runs-on: macos-latest
    permissions:
      contents: read
    # concurrency:
    #   group: test-macos-${{ github.head_ref || github.run_id }}
    #   cancel-in-progress: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Install node modules
        uses: ./.github/workflows/install-node-modules

      - name: Install playwright
        uses: ./.github/workflows/install-playwright
        with:
          engine: webkit

      - name: Download website artifact
        uses: actions/download-artifact@v7
        with:
          name: website-dist
          path: website/.next

      - name: Test
        id: test
        run: npm run playwright -- --project safari --project ios

      - name: Upload test results to GitHub
        if: failure() && steps.test.outcome == 'failure'
        uses: actions/upload-artifact@v6
        with:
          name: safari-test-results
          path: test-results
          retention-days: 30
