name: react-next
permissions:
  contents: read

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # Runs at 00:00 UTC every day

jobs:
  install:
    # Prevent workflow from running on forks.
    # Because the test job depends on install, preventing install also prevents the test from being run.
    if: github.repository == 'ariakit/ariakit'

    name: Install node modules
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install node modules
        uses: ./.github/workflows/install-node-modules
        with:
          cache-pnpm: true

  react-next:
    name: Test React Next (${{ matrix.shard }})
    needs: install
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        shard: ["1/2", "2/2"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install node modules
        uses: ./.github/workflows/install-node-modules

      - name: Print version of react@next
        run: pnpm view react@next && pnpm view react-dom@next

      - name: Install React@next
        run: pnpm run reactnext

      - name: Test
        run: pnpm test -- --shard ${{ matrix.shard }}
