name: release

on:
  push:
    branches: [main]

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  version:
    name: Version or publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.ARIAKIT_BOT_PAT }}

      - name: Install node modules
        uses: ./.github/workflows/install-node-modules
        with:
          cache-pnpm: true

      - name: Update pnpm
        run: corepack prepare pnpm@latest --activate

      - name: Configure git
        run: |
          git config user.name "ariakit-bot"
          git config user.email "ariakit-bot@users.noreply.github.com"

      - name: Create PR or publish to npm
        uses: changesets/action@v1
        with:
          title: Publish
          commit: Publish
          version: pnpm run version
          publish: pnpm run publish
          setupGitUser: false
        env:
          GITHUB_TOKEN: ${{ secrets.ARIAKIT_BOT_PAT }}
          NPM_TOKEN: ""
