name: release-preview

on:
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install node modules
        uses: ./.github/workflows/install-node-modules
        with:
          cache-npm: true

      - name: Build
        run: npm run build

      - name: Get changeset status
        id: changeset-status
        run: |
          npx changeset status --output changes.json
          echo "changes-output=$(cat changes.json | jq -c .)" >> $GITHUB_OUTPUT

      - name: Get npm packages
        id: npm-packages
        run: |
          npm query ':root > *' > npm-packages.json
          echo "packages-output=$(cat npm-packages.json | jq -c .)" >> $GITHUB_OUTPUT

      - name: Compute affected packages
        id: compute-affected-packages
        uses: actions/github-script@v7
        env:
          CHANGES: ${{ steps.changeset-status.outputs.changes-output }}
          PACKAGES: ${{ steps.npm-packages.outputs.packages-output }}
        with:
          script: |
            const { relative } = require('node:path');
            const changes = JSON.parse(process.env.CHANGES);
            const packages = JSON.parse(process.env.PACKAGES);
            const packagesMap = Object.fromEntries(packages.map(p => [p.name, relative(process.cwd(), p.location)]));
            const affectedPackages = [...new Set(changes.changesets.map(c => c.releases.map(r => packagesMap[r.name])).flat())];
            core.setOutput('affected-packages', JSON.stringify(affectedPackages));

      - name: Publish preview
        env:
          AFFECTED_PACKAGES: ${{ steps.compute-affected-packages.outputs.affected-packages }}
        run: |
          packages=$(echo $AFFECTED_PACKAGES | jq -r '.[]' | tr '\n' ' ')
          if [ -n "$packages" ]; then
            npx pkg-pr-new publish --compact --template './templates/*' $packages
          else
            echo "No affected packages to publish"
          fi
