@import url("../../../button/__examples__/button/style.css");

.menu {
  @apply
    w-[250px]
    relative
    flex
    flex-col
    z-50
    p-2
    rounded-lg
    drop-shadow
    dark:drop-shadow-dark
    border
    border-solid
    border-canvas-4
    dark:border-canvas-4-dark
    bg-canvas-4
    dark:bg-canvas-4-dark
    text-canvas-4
    dark:text-canvas-4-dark
    ariakit-focus-visible:ariakit-outline;
}

.menu-arrow svg {
  @apply
    fill-canvas-4
    dark:fill-canvas-4-dark
    stroke-canvas-4
    dark:stroke-canvas-4-dark;
}

.menu-item {
  @apply
    flex
    gap-2
    items-center
    scroll-m-2
    outline-none
    cursor-default
    rounded
    p-2
    hover:bg-primary-1-hover
    dark:hover:bg-primary-1-dark-hover;
}

.menu-item:focus {
  @apply
    bg-primary-2
    text-primary-2
    dark:bg-primary-2-dark
    dark:text-primary-2-dark;
}

/*
.menu-item {
  @apply flex w-full py-2 pl-3 text-left cursor-default hover:bg-canvas-1 focus:bg-canvas-1;
}

.menu-item-check-wrapper {
  @apply relative w-4 h-4 mr-3;
}

.menu-item-check-wrapper span {
  @apply absolute top-1;
}

.menu-item-check-content {
  @apply flex flex-col flex-1 pr-2;
}

.menu-item-check-title {
  @apply mb-1 text-sm font-semibold text-canvas-1;
}

.menu-item-check-summary {
  @apply text-xs text-canvas-1;
} */
